$main-font: 'Roboto', sans-serif;

$secondary-text-color: #444444;

$footer-color: #111111;
$main-dark-color: #212121;
$main-light-color: #F4F4F4;
$main-color: #C5C5C5;
$side-menu-color: #323232;
$friend-color: green;
$enemy-color: red;

$paddingH-1: 0 2rem;
$paddingH-2: 0 1rem;