@import '../../styles/reset.scss';
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/mixin.scss';

.main{
    width: 100%;
    min-height: 80vh;
    padding-top: 80px;
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: $primary-color;
    color: whitesmoke;
    font-family: $primary-font;
    &__list-title{
        padding: 20px;
        font-size: 25px;
        color: $tertiary-color;
        text-align: center;
        margin: 0 20px;
    }
    &__input-search{
        padding: 20px;
        width: auto;
        height: 50px;
        background-color: $primary-color;
        border: 3px solid whitesmoke;
        border-radius: 25px;
        text-align: center;
        font-size: 16px;
        color: whitesmoke;
        font-family: $primary-font;
    }

}
.main__artists-list{
    display: flex;
    flex-flow: column wrap;
    height: auto;
   
}
.artist-item{
    height: auto;
    width: 180px;
    background-color: $secondary-color;
    display: flex;
    flex-flow: column wrap;
    margin: 20px;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    border: 3px solid whitesmoke;
    &:hover{
        box-shadow: 0 0 0 3pt $tertiary-color;
    }
    &__photo{
        height: 200px;
        width: 175px;
        border-radius: 25px 25px 0 0;
        border-bottom: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__name{
        padding: 20px 0 10px 0;
        color: $tertiary-color;
        font-size: 18px;
    }
    &__button-add{
        margin: 15px;
        width: 100px;
        height: 30px;
        border-radius: 25px;
        background-color: $primary-color;
        border: 3px $tertiary-color solid;
        color: $tertiary-color;
        font-family: $primary-font;
        &:hover{
            box-shadow: 0 0 0 3pt $tertiary-color;
        }
    }
}
@media only screen and (min-width: 800px){
    .main{
        align-items: center;
    }
    .main__artists-list {
        flex-flow: row wrap;
        margin: 0 auto;
        width: 80%;
        justify-content: center;
    }
}
