.login-container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-background {
    /* Login-background_large */
    display: flex;
    width: 488px;
    height: 166px;
    background: rgba(72, 229, 194, 0.15);
    border-radius: 55px;
    justify-content: center;
    align-items: center;
}

.login-button {
    font-size: 20px;
    width: 10vw;
    height: 4vh;
    border-radius: 10vh;
    background-color: rgb(56, 183, 154);
    border: transparent;
    color: white;
    align-items: center;
    align-self: center;
    box-shadow: -5px -5px 10px rgb(255 255 255 / 50%), 5px 5px 10px rgb(170 170 204 / 25%), 10px 10px 20px rgb(170 170 204 / 50%), -10px -10px 20px #ffffff;
}

.login-button:hover {
    cursor: pointer;
}