* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.body-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70vw;
}

.top-container {
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
}

.square {
    width: 20vw;
    height: 20vw;
    border: 1px solid black;
    background-color: lightgray;
    margin-top: 10vw;

}

.circle {
    width: 10vw;
    height: 10vw;
    border: 1px solid black;
    background-color: lightgray;
    margin: 2vw;
    border-radius: 50%;;
}

.title-container {
    margin: 2vw;
    padding: 5vw 0 5vw 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65vw;
}

.date {
    flex-grow: 0.8;
    text-align: right;
    padding-top: 4vw;
}

.heading-circle{
    align-self: center;
}

.title-text,
.mid-text{

    font-size: 2.2vw;
}

.circle-text {
    display: flex;
    justify-content: space-between;
}

.mid-container {
    padding: 0 5vw;
}

.bottom-container {
    display: flex;
    justify-content: space-around;
    height: 26vw;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid lightgray;
    padding-top: 8vw;
}

.triagle-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 18vw;
    text-align: center;
}

h1{
    font-size: 3vw;
}

h2 {
    color: lightgray;
    font-size: 2.5vw;
}

h4 {
    color: lightgray;
    font-size: 2vw;
}
