*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__nav-bar{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.nav-bar__container-1{
    display: flex;
    flex-direction: row;
    background-color: gold;
    height: 50px;
    width: 100%;
    
}

.nav-bar__container-2{
    display: flex;
    flex-direction: row;
}

.nav-log__menu{
    width: 50px;
    height: 50px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/burger_menu.png) no-repeat center left;
}

.nav-log__log{
    width: 27px;
    height: 27px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0 0 no-repeat;
    margin: 10px;
}

.nav-cart__lupa{
    width: 50px;
    height: 50px;
    text-indent: -99999px;
    background: #BBB8B6 url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -304px 12px no-repeat;
    cursor: pointer;
}

.nav-cart__cart{
    background: #fff url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0px 0px no-repeat;
    margin: 0;
    position: relative;
}

.nav-cart__number{
    display: block;
    float: right;
    width: 50px;
    height: 50px;
    background: #FF5959;
    margin: 0;
    position: relative;
}

.number__number{
    position: absolute;
    font-family: "Myriad Pro", "Myriad Web", "Tahoma", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    color: #fff;
    background: none;
    display: block;
    height: auto;  
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.header__logo{
    width: 50%;
    align-self: center;
    margin: 20px;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.main__fork{
    height: 128px;
    align-self: center;
    margin: 15px;
}

.main__utensilios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.utensilios__linea-1{
    width: 200px;
    align-content: center;
}

.utensilios__linea-2{
    width: 200px;
    align-content: center;
}

.utensilios__letras{
    align-content: center;
    font-size: 25px;
    font-weight: bold;
    margin: 15px;
}

.main__img-container{
    align-self: center;
    height: 200px;
    width: 400px;
    object-fit: cover;
    object-position: 0% 10%;
    background: url(https://static3.marialunarillos.com/media/wysiwyg/moldesdereposteria.jpg) no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-end;
    margin: 16px;
}

.img-container__letras{
    background-color: gold;
    padding: 12px;
    height: 50px;
    width: 200px;
    align-self: flex-end;
    opacity: 0.8;
}

.main-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-info__container-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: gold;
}

.main-info__container-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: gold;
}






