@import '../../styles/variables';

.profile {

    display: flex;
    align-items: center;

    .profile__picture {
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        order: 2;
    }

    .profile__name {
        text-decoration: none;
        font-size: 1rem;
        margin-right: 5px;
    }
}