.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.user-info__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header img{
    width: 40px;
    height: 40px;
    margin-left: 50px;
}