@mixin button($color: white, $secondary-color: black) {
    background-color: transparent;
    color: $color;
    border: 3px solid $color;
    border-radius: 0.1rem;
    padding: 0.2rem;
    font-family: 1rem;
    transition: .2s;

    &:hover {
        background-color: $color;
        color: $secondary-color;
    }

    &:active {
        font-size: 0.75rem;
    }
}