.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
    background-color: aquamarine;
    border-radius: 25px;
    justify-content: space-around;
    margin-bottom: 10px;
}
