body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("./pattern.png");

}
p {
    padding: 2vh;
}
h2, h3 {
    text-align: center;
}
.shopBar {
    background-color: rgb(165, 147, 194);
    display: flex;
    flex-direction: row;
    width: auto;
}

#ulistNavBar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    width: auto;
    padding-left: 7rem;
}

ul {
    display: flex;
    list-style-type: none;
    color: white;
    flex-direction: column;
    
}
li {
    display: flex;
    padding: 2vw;
    flex-direction: row;
}
img {
    width: 90%;
}
.logoImage {
    width: 3rem;
    display: flex;
    margin-left: 1rem;
}
.kindOfPies {
    background-color: rgb(207, 69, 34);
}

.pruebaSeparar {
    margin-bottom: 3rem;
}
.weakly-promotins {
    background-color: white;
    border-radius: 5%;
    text-align: justify;
    padding: 2vh;
}
.myFooter {
 text-align: center;
}