body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("./pattern.png");
    text-align: center;
}

.shopBar {
    background-color: rgb(165, 147, 194);
    display: flex;
    flex-direction: row;
    width: auto;
}

.ulistNavBar {
    display: flex;
    flex-direction: row;
    width: auto;
}

ul {
    display: flex;
    list-style-type: none;
    color: white;
}
img {
    width: 90%;
}
.logoImage {
    width: 15%;
    display: flex;
}