* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    font-family: sans-serif;
    font-size: 25px;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #F8F8F8;
    border: none;
}

.main-nav {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    
}

.main-nav__fixed {
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    
}

.main-nav__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.main-nav__fixed--personal-nav {
    background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg);
    background-repeat: no-repeat;
    margin: 10px;
    width: 27px;
    height: 27px;
}

.main-nav__fixed--search-button {
    background-color: #BBB8B6;
    color: white;
    transform: scaleX(-1);
    font-weight: bold;
}

.main-nav__fixed--carrito {
    background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg);
    background-repeat: no-repeat;
    background-position: 22% -2%;
    width: 50px;
    height: 50px;

}

.main-nav__fixed--cesta {
    color: white;
    background-color: rgb(255, 89, 88);
}

.main-logo {
    display: flex;
    margin-top: 30px;
    size: 276px 50px;
    justify-content: center;
}

.main-nav__fix-buttons {
    flex-direction: row;
} 