*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: black;
    padding: 20px;
    margin-top: 20px;
}

button:active {
    color: red;
} 