*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.log__button {
    border: none;
    background-color: rgba(255, 255, 255, 0); 
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: black;
    text-shadow: 1px 1px rgb(163, 162, 162);
}

.log__button:hover {
    cursor: pointer;
}

.log__button:active {
    color: red;
} 


@media only screen and (max-width: 675px) {

    .log__button {
        background-color: rgb(158, 158, 158);
        border-radius: 3px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 9px 20px;
        margin-right: 20px;
    }

}

@media only screen and (max-width: 529px) {
    .log__button {
        margin-top: 30px;
        margin-left: 20px;
    }

}

