*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.log__button {
    border: none;
    background-color: rgba(255, 255, 255, 0); 
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: black;
    text-shadow: 1px 1px rgb(163, 162, 162);
}

.log__button:hover {
    cursor: pointer;
}

.log__button:active {
    color: red;
} 