$purple: #B967FF;
$yellow: #FFFB96;
$pink: #FF71CE;
$lightgray: #F4F4F6;

@mixin button {
    background-color: $purple;
    color: $yellow;
    border: none;
    border-radius: 1px;
    font-family: Bebas Neue, Roboto, Arial, Tahoma, sans-serif;
    font-weight: 400;
    padding: 15px;
    font-size: 30px;
    &:hover{
        box-shadow: 0px 15px 25px -5px $purple;
        transform: scale(1.03); 
    }
    &:active{
    box-shadow: 0px 4px 8px $purple;
    transform: scale(.98);
    }
}
@mixin title{
    color: $purple;
    font-family: Roboto, Bebas Neue, Arial, Tahoma, sans-serif;
            font-weight: 900;
            font-size: 36px;
            text-transform: uppercase;
}

