/*Generales*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*Colours*/
    --color-principal: #E0928D;
    --color-secundario: #5B6F75;
    --color-jugador-uno: #2F8CA8;
    --color-jugador-dos: #A82F53;
    --color-auxiliar: #54DBB1;
    /*Fonts*/
    --fuente-titulos: 'Audiowide', cursive;
}

body {
    color: var(--color-secundario);
    background-color: var(--color-principal);
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-family: var(--fuente-titulos);
    font-size: 4.2rem;
    margin: 1rem auto;
}

p {
    font-family: 'Abhaya Libre', serif;
    font-size: 2.4rem;
    font-weight: 700;
}

input {
    color: var(--color-auxiliar);
    background-color: var(--color-secundario);
    border: none;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    font-size: 1.4rem;
    font-family: 'Abhaya Libre', serif;
    text-align: center;
}

.section {
    display: none;
    margin: auto 5rem;
}

.currentSection {
    display: block;
}

input:hover {
    cursor: pointer;
}


/*Pregame*/

.preGame-title_span {
    font-size: 8rem;
}

.preGame-buttonPanel {
    margin: 3rem auto;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}


/*Game*/

.game-title:hover {
    cursor: pointer;
}

.game-title_span {
    font-size: 8rem;
}

.game-buttonPanel {
    margin: 3rem auto 0;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.container {
    position: relative;
    margin: 0 auto;
    align-self: center;
}

.game-board {
    position: absolute;
    max-height: 50rem;
    max-width: 50rem;
    transform: translate(71%);
    margin: 0;
    display: grid;
    grid-template-columns: repeat(7, 5rem);
    grid-template-rows: repeat(6, 5rem);
    gap: 0;
    justify-self: center;
    align-self: center;
    box-shadow: 5px 5px 20px 12px var(--color-auxiliar);
}

.game-board-backplate {
    position: absolute;
    max-height: 50rem;
    max-width: 50rem;
    transform: translate(71%);
    margin: 0;
    display: grid;
    grid-template-columns: repeat(7, 5rem);
    gap: 0;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.game-board-backplate_columns {
    display: flex;
    flex-direction: column;
    max-height: 50rem;
    justify-items: center;
    align-items: center;
}

.game-board-buttonSpace {
    height: 100%;
    width: 100%;
    background-color: var(--color-secundario);
    -webkit-mask-image: radial-gradient(circle, transparent 49%, white 50%);
}

.game-board-buttonSpace:hover {
    cursor: pointer;
}

.game-board-button {
    height: 11vh;
    width: 11vh;
    border-radius: 50%;
}

.player1 {
    background-color: var(--color-jugador-uno);
    animation-name: fall;
    animation-duration: 0.8s;
    animation-timing-function: linear;
}

.player2 {
    background-color: var(--color-jugador-dos);
    animation-name: fall;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes fall {
    0% {
        transform: translateY(-600px);
    }
    50% {
        transform: translateY(0px);
    }
    80% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}


/*Postgame*/