@import '../../styles/reset.scss';
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';


.suggested-artists-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: auto;
    &__title{
        margin: 0 auto;
    }
    &__artists-cards{
        margin: 0 auto;
        display: flex;
        .artist-details{
            display: flex;
            margin: 0 auto;
            flex-direction: column;
        }
        img{
            width: 100px;
            height: 100px;
        }
    }

    
}