.accordeon-header {
  padding: 10px;
  cursor: pointer;
  position: relative;
}
.accordeon-header:hover{
  background-color: pink;
}
.accordion-indicator {
  position: absolute;
  right: 30px;
  top: 26px;
}