$main-font: "Myriad Pro", "Myriad Web", "Tahoma", "Helvetica", "Arial", sans-serif;

$main-color: #AA7BCA;
$main-light-color: white;
$main-dark-color: #3C1361;
$background-color: #D8D8D8;

$main-light-text-color: white;
$main-dark-text-color: black;
$secondary-text-color: grey;