@import '../../variables';
@import '../../reset';

.footer{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: $pink ;
    width: 100%;
    height: 20%;
    .footer__upper{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .footer__upper-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: Bebas Neue, Roboto, Arial, Tahoma, sans-serif;
            font-size: 24px;
            color: white;
            .footer__upper-cards{
                width: 260px;
                height: 40px;
                padding: 5px;
            }
            .upper-container__text{
                padding: 5px;
            }
            .footer__contact{
                font-family: Roboto, Bebas Neue, Arial, Tahoma, sans-serif;
                font-size: 18px;
                padding: 0.8vw;
            }
        }
    }
    .map{
        margin-top:50px;
        border:0;
        width:"400";
        height:"300";
    }
    .footer__lower{
        text-align: center;
        color: $yellow;
        font-family: Roboto, Bebas Neue, Arial, Tahoma, sans-serif;
        font-size: 18px;
        font-weight: 700;
        margin: 40px 0 20px 0;
    }
}


@media (max-width: 920px){
    .footer{
        .footer__upper{
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            margin-top: 20px;
            .footer__upper-container{
                align-items: center;
                font-size: 18px;
                margin: 20px;
                .footer__contact{
                    font-size: 15px;
                }
                .map{
                    margin-top: 0px;
                }
            }
        }
        .footer__lower{
            font-size: 15px;
        }
    }
}
