/*** Dashboard Styles ***/

.main__title{
    color: #FFCC01;
    font-family: 'Viga', sans-serif;
    padding: 30px;
}

.main{
    display: flex;
    flex-direction: column;
    background-color: #EF5350;
    align-items: center;
    justify-content: center;
}

.main___img{
    width: 40px;
    height: 40px;
}

.main__favpoke-name{
    color: #FFCC01;
    font-family: 'Viga', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.main__favpokes{
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.main__favpokediv{
    height: 150px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10%;
    padding: 20px;
    -webkit-text-stroke: 1px black;
    box-shadow: 2px 2px 2px #FFCC01;
    margin: 10px;
}

.main__favpoke-img{
    max-width: 150px;
    margin: 5px;
}