@import '../../pages/reset';
.user{
    header{
        padding-top: 90px;
        color: honeydew;
        font-size: 2em;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(315deg, rgba(18, 127, 236, 0.815) 60%, rgba(247, 25, 136, 1) 115%);
    height: 15vh;
}
.user__img-container{
    display: flex;
    justify-content: center;
height: 150px;
width: 150px;
transform: translate(0px, 20px);
align-items: center;
clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);

}
.container__nav{
    transform: translate(-165px, -165px);
}
.img{
    height: 170px;
    }
.basic__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-image: linear-gradient(180deg, rgba(18, 127, 236, 0.815) 0%, rgba(255, 255, 255, 1) 12%);
}
.info__name{
    margin: 10px;
    margin-top: 120px;
}
.info__gender{
    color: dimgrey;
}
.info__container{
    display: flex;
    justify-content: center;
  
}
.info__about{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.7px;
    width: 60%;
    border-radius: 15px;
    background-color: rgba(165, 165, 165, 39%);
    box-shadow: 1px 1px 32px 8px rgba(166,166,166,0.58);
}
.friends__button__container{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.friends__button{
    color: rgb(255, 255, 255); font-size: 14px; 
    line-height: 14px; 
    padding: 9px;
    transform: translate(120px, -40px);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%; 
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%; 
    height: 5em;
    text-decoration: none; 
    background-image: linear-gradient(135deg, rgb(164, 13, 151) 0%, rgb(35, 136, 203) 68%, rgb(15, 201, 200) 100%);
    box-shadow: rgba(94, 243, 253, 0.418) -2px 1px 23px 0px; 
    border: 2px solid rgb(28, 110, 164); 
    display: inline-block;}
    .myButton:hover {
    background: #A40D97; }
    text
    .myButton:active {
    background: #0FC9C8; }
    
