body {
  text-align: center;
}

.app-body__logo {
  height: 30vmin;
  border-radius: 100px;
  margin-top: 20px;
}

.app-body__title {
  margin-top: 0px;
  font-size: 70px;
  text-shadow: 2px 2px rgb(255, 99, 99);
}

.app-body__sub-title {
  margin-top: -50px;
  font-size: 50px;
  text-shadow: -2px 2px rgb(255, 99, 99);

}
