*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page-header {
    height: 50px;
    background-color: #A593C2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pie-logo {
    height: 45px;
    width: 45px;
}

.top-navigation-list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45vw;
    color: white;
    font-size: 3.5vw;
    font-weight: bold;
}

.page-main {
    background-image: url("https://i.ibb.co/W567m6P/pattern.png");
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400vw;
}

.navigation-title {
    font-size: 4vw;
    margin-bottom: 2vw;
}

.bottom-navigation-list {
    list-style-type: none;
}
.article-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300vw;
}

.main-title {
    font-size: 10vw;
    width: 80vw;
    font-size: 6vw;
    font-weight: bolder;
    color: #A593C2;
}

.bethany-image {
    width: 80vw;
    height:39vw;
}

.caption {
    
}