*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page-header {
    height: 50px;
    background-color: #A593C2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pie-logo {
    height: 12vw;
    width: 12vw;
}

.top-navigation-list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45vw;
    color: white;
    font-size: 3.5vw;
    font-weight: bold;
}

.page-main {
    background-image: url("https://i.ibb.co/W567m6P/pattern.png");
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 330vw;
}

.bethany-pie-shop-logo {
    width: 80vw;
    height: 80vw;
}

.navigation-title {
    font-size: 4vw;
    margin-bottom: 2vw;
}

.bottom-navigation-list {
    list-style-type: none;
    font-size: 4vw;
}
.article-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300vw;
}

.main-title {
    font-size: 10vw;
    width: 80vw;
    font-size: 6vw;
    font-weight: bolder;
    color: #A593C2;
}

.bethany-image {
    width: 80vw;
    height:39vw;
}

.caption-image {
    font-size: 2.2vw;
}

.history-title {
    width: 80vw;
    font-size: 6.5vw;
}

.history-text {
    width: 80vw;
    height: 55vw;
    font-size: 3.7vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bold-name {
    font-weight: bold;
}

.promotions-container {
    background-color: white;
    width: 80vw;
    height: 65vw;
    border-radius: 5vw;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promotions-title {
    font-size: 4.5vw;
}

.cake-title {
    font-size: 3.2vw;
}

.cake-image {
    width: 70vw;
    height:40vw;
}