*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

.title {
    display: none;
}

header {
    justify-content: center;
}

.header-navigator {
    position: fixed;
    padding: 15px 20px;
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #F8F8F8;
    justify-content: space-evenly;
    align-items: center;
}

.shop-block {
    display: flex;
}

.user-icon {
    width: 27px;
    height: 27px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0 0 no-repeat;
    margin: 10px;
}

.user-icon:hover {
    cursor: pointer;
    color: #FF5959;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -37px 0px no-repeat;
}

.search-icon {
    width: 50px;
    height: 50px;
    background: #BBB8B6 url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -304px 12px no-repeat;
    cursor: pointer;
}

.cart__icon {
    width: 50px;
    height: 50px;
    background: #fff url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -64px 10px no-repeat;
    margin: 0;
    position: relative;
}

.cart__icon:hover {
    cursor: pointer;
    background: #FF5959 url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -104px 10px no-repeat;
    ;
}

.header-navigator__cart {
    display: flex;
    align-items: center;
}

.cart__counter {
    margin: 0;
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: #FF5959;
    text-align: center;
    font-size: 24px;
    line-height: -25px;
    margin: auto;
}

.main-logo {
    width: 325px;
    height: 50px;
    display: flex;
    padding-top: 100px;
    height: 100px;
    margin: 0 auto;
}

.summary__image {
    margin-top: 80px;
    height: 75vw;
    width: 100%;
    animation-name: summary-carrusel;
    animation-duration: 25000ms;
    animation-iteration-count: infinite;
}

@keyframes summary-carrusel {
    0%,
    100% {
        background: url(https://static3.marialunarillos.com/media/custom/advancedslider/resized/slide-60e2ade0af856-png/1080X600.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    10% {
        background: url(https://static3.marialunarillos.com/media/custom/advancedslider/resized/slide-5c2f5ea8a9d45-png/1080X600.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    20% {
        background: url(https://static3.marialunarillos.com/media/custom/advancedslider/resized/slide-60b4ce5b54e1a-png/1080X600.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    30% {
        background: url(https://static3.marialunarillos.com/media/custom/advancedslider/resized/slide-5d01295f96f37-png/1080X600.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    40% {
        background: url(https://static3.marialunarillos.com/media/custom/advancedslider/resized/slide-5f6b1d475371c-png/1080X600.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    50% {
        background: url(https://static3.marialunarillos.com/media/custom/advancedslider/resized/slide-608bbdc34f1b1-png/1080X600.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    60% {
        background: url(https://static3.marialunarillos.com/media/custom/advancedslider/resized/slide-5f9aaa201f89c-png/1080X600.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    70% {
        background: url(https://static3.marialunarillos.com/media/custom/advancedslider/resized/slide-5c2f5c2955721-png/1080X600.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    80% {
        background: url(https://static3.marialunarillos.com/media/custom/advancedslider/resized/slide-5df77470cdc72-png/1080X600.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    90% {
        background: url(https://static3.marialunarillos.com/media/custom/advancedslider/resized/slide-5c2f5c6c4d1de-png/1080X600.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}