.friend-button{
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;

}
.foe-button{
    position: absolute;
    bottom: 20px;
    left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.friend-div{
    position: relative;
    width: 120px;
    height: 120px;
}
.friend-image{
    width: 100px;
    border-radius: 50%;
    border: rgb(0, 255, 174) 4px solid;
}