header{
    position: fixed;
    display: flex;
    background-image: url(https://i.ibb.co/v101jvd/header-back.jpg);
    width: 100%;
    height: 170px;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    top: 0;
    filter: drop-shadow(9px 2px 13px grey);
    z-index: 1;
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        a{
            font-size: 1.5em;
            text-transform: uppercase;
            font-weight: 700;
            color: antiquewhite;
            text-decoration: none;
        }
    }
}

.Header__user-image{
    border-radius: 50%;
    width: 160px;
}