* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("https://i.ibb.co/W567m6P/pattern.png");
    
}

header {
    height: 70px;
    width: 100vh;
    background-color: rgb(165, 147, 194);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#biglogo {
    padding-top: 30px;
    margin-bottom: 30px;
    /* justify-content: center; */
}

#headerbuttons {
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    color: white;
    font-weight: bold;
    align-items: center;
}

#home, #allpies, #about {
    padding-left: 20px;
}

li {
    background-color: rgb(206, 70, 34);
    color: white;
    padding: 20px 40px;
    width: 200px;
    margin: 3px;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

h3 {
    border-bottom: 30px;
}

h1 {
    color: rgb(165, 147, 194);
}

#infofoto1 {
    padding-top: 10px;
}