#morespecific {
  background-color: rgb(51, 57, 107);
  border: 5px solid rgb(219, 123, 123);
}
.specific {
  background-color: rgb(6, 37, 6);
  border: none !important;
}
p {
  background-color: rgb(128, 0, 60);
  color: rgb(15, 15, 15);
  padding: 5px;
}
