*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
}

/*General selectors*/

body {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    background-color: rgb(23, 23, 23);
    font-family: 'Noto Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
}

main {
    display: block;
}

p {
    color: rgb(153, 153, 153);
}

h3 {
    color: rgb(255, 255, 255);
}

a {
    outline: none;
    text-decoration: none;
    padding: 1vh;
    font-size: 2vh;
    font-family: NotoSans-Bold, Arial, sans-serif;
    text-align: center;
    color: rgb(153 153 153);
}

nav a:hover {
    color: rgb(247, 216, 0);
}

img {
    width: 100%;
}

img__img {
    border: transparent 1vh solid;
}

img_img:hover {
    border-color: rgb(247, 216, 0) 1vh solid;
}

/*Nav mobile selectors*/

.nav__mobile {
    background-color: rgb(0, 0, 0);
    color: rgb(153, 153, 153);
    font-size: 2vh;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 8vh;
    position: sticky;
    margin: 0px;
    bottom: 0px;
    margin-top: auto;
}

/*Nav desktop selectors*/

.nav__desktop {
    background-color: rgb(0, 0, 0);
    height: 8vh;
    display: none;
    flex-direction: row;
    align-content: space-between;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1vh;
}

.nav__left {
    display:flex;
    align-items: baseline;
}
.nav__right {
    justify-content: flex-end;
}


button {
    background-color: rgb(247, 216, 0);
    height: 4vh;
    width: 20vh;
    border: none;
    border-radius: 00.5vh;
}

/*Principal slide Selectors*/

.principal-slide {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.principal-slide__input {
    visibility: hidden;
}

.principal-slide__img {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 2s;
    animation-name: slide-autoplay;
    animation-duration: 20s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.img__item-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.principal-slide__pagination {
    position: absolute;
    bottom: 2vh;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    color: white;
    opacity: 0.6;
    overflow: hidden;
    cursor: pointer;
    margin: 0 0.5vh;
    text-align: center;
}

.pagination__item:hover {
    opacity: 1;
}

input[id="1"]:checked~.principal-slide__img {
    animation: none;
    transform: translate3d(calc(-100% * 0), 0, 0);
}

input[id="1"]:checked~.principal-slide__pagination .pagination__item[for="1"] {
    opacity: 1;
}

input[id="2"]:checked~.principal-slide__img {
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked~.principal-slide__pagination .pagination__item[for="2"] {
    opacity: 1;
}

input[id="3"]:checked~.principal-slide__img {
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked~.principal-slide__pagination .pagination__item[for="3"] {
    opacity: 1;
}

input[id="4"]:checked~.principal-slide__img {
    animation: none;
    transform: translate3d(calc(-100% * 3), 0, 0);
}

input[id="4"]:checked~.principal-slide__pagination .pagination__item[for="4"] {
    opacity: 1;
}

input[id="5"]:checked~.principal-slide__img {
    animation: none;
    transform: translate3d(calc(-100% * 4), 0, 0);
}

input[id="5"]:checked~.principal-slide__pagination .pagination__item[for="5"] {
    opacity: 1;
}

input[id="6"]:checked~.principal-slide__img {
    animation: none;
    transform: translate3d(calc(-100% * 5), 0, 0);
}

input[id="6"]:checked~.principal-slide__pagination .pagination__item[for="6"] {
    opacity: 1;
}

input[id="7"]:checked~.principal-slide__img {
    animation: none;
    transform: translate3d(calc(-100% * 6), 0, 0);
}

input[id="7"]:checked~.principal-slide__pagination .pagination__item[for="7"] {
    opacity: 1;
}

@keyframes slide-autoplay {
    14.2% {
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    28.6% {
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    42.9% {
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
    57.2% {
        transform: translate3d(calc(-100% * 3), 0, 0);
    }
    71.5% {
        transform: translate3d(calc(-100% * 4), 0, 0);
    }
    85.8% {
        transform: translate3d(calc(-100% * 5), 0, 0);
    }
    100% {
        transform: translate3d(calc(-100% * 6), 0, 0);
    }
}

/*Horizontal and Vertical slide Selectors*/

.horizontal-slide {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.horizontal-slide__img, .vertical-slide__img {
    display: flex;
}

.img__carousel {
    display: flex;
    position: relative;
}

.vertical-slide {
    position: relative;
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.left-angle, .right-angle {
    display: flex;
    justify-content: space-evenly;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    font-size: 5vh;
    top: calc(50% - 25%);
    width: 5vh;
    color: #fff;
    cursor: pointer;
    transition: .2s ease all;
}

.left-angle:hover, .right-angle:hover {
    background: rgba(0, 0, 0, 0.5);
}

.information {
    display: none;
    flex-direction: column;
}

.information__principal {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.information__aditional {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 10vh;
}

.information a {
    color: white;
    font-size: 10vh;
}

.footer__logo-and-anchor {
    padding: 4vh;
}

.footer__small {
    text-align: center;
    padding: 2vh;
}

/*Info film details*/

.img__carousel:hover {}

.carousel__tooltip-film-detail {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: grey;
    width: 25vw;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 1vh;
}

.carousel__tooltip-film-detail::after {
    content: "";
}

.carousel__tooltip-film-detail:hover {
    display: flex;
}

/*Media Queries*/

@media screen and (min-width: 600px) {
    .nav__desktop {
        display: flex;
    }
    .nav__mobile {
        display: none;
    }
    .information {
        display: flex;
    }
    .information__principal {
        display: block;
    }
    footer {
        text-align: center;
    }
}