@import '../../styles/reset.scss';
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/mixin.scss';

.main-container{
    background-color: #000000;
    display: flex;
    justify-content: center;
    height: 300px;
}


.main-container__socialmedia{
    background-color:#1D1B1B;
    padding: 30px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat( 2, auto);
    
    li{
        display: flex;
        padding: 30px;
        list-style: none;
        text-decoration: none;
        justify-content: center;
    }

}

.socialmedia__facebook{
@include socialmedia__icons("https://i.ibb.co/ZXNJ96C/icons8-facebook-48-1.png")
}

.socialmedia__instagram{
@include socialmedia__icons("https://i.ibb.co/xCRv0K8/icons8-instagram-48.png");
}

.socialmedia__youtube{
@include socialmedia__icons("https://i.ibb.co/0tXnXDq/icons8-youtube-50.png");
}

.socialmedia__twitter{
@include socialmedia__icons("https://i.ibb.co/Nmn630v/icons8-twitter-60.png");
}

.socialmedia__soundcloud {
@include socialmedia__icons("https://i.ibb.co/Y8zDvWp/icons8-soundcloud-50.png");
}

.socialmedia__pinterest {
@include socialmedia__icons("https://i.ibb.co/NYJMt8s/icons8-pinterest-50.png");
}

.main-container__contact-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    background-color:gray;
    width: 400px;
}

.bot-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color:#1D1B1B;
    color:$primary-font-color;
    font-family: $secondary-font;
}