@import '../../styles/reset.scss';
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.main-container{
    background-color: #000000;
    display: flex;
    justify-content: center;
    height: 300px;
}

.main-container__socialmedia{
    background-color:#1D1B1B;
    padding: 30px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat( 2, auto);
}
.main-container__socialmedia>li{
    display: flex;
    padding: 20px;
    list-style: none;
    text-decoration: none;
    justify-content: center;

}
.socialmedia__facebook{
    background-image: url("https://i.ibb.co/D8rmFZ0/icons8-facebook-rodeado-de-c-rculo-48.png" );
    background-repeat: no-repeat;
    background-position: center;
}
.socialmedia__youtube{
    background-image: url("https://i.ibb.co/0tXnXDq/icons8-youtube-50.png" );
    background-repeat: no-repeat;
    background-position: center;
}

.main-container__contact-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    background-color:gray;
    width: 400px;
}

.bot-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color:#1D1B1B;
    color:$primary-font-color;
}