*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    height: 300px;
}

.main-container__socialmedia{
    background-color: lightgray;
    padding: 30px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat( 2, auto);
    grid-template-rows: repeat(3,auto);
}

.main-container__contact-form{
    background-color: lightskyblue;
    width: 400px;
}

.bot-container{
    background-color: lightgray;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}