.body{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 0.6em;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.slider {
    width: 200px;
    margin: 100px auto;
  }
  
input[type="range"] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    /* width: 100%; */
    /* height: 20px; */
    margin: 0;
    border: none;
    padding: 1px 2px;
    border-radius: 14px;
    background: #232528;
    box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
    -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
    outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, orange), color-stop(100%, #245e8f)); /* android <= 2.2 */
  background-image: -webkit-linear-gradient(top , orange 0, #C98301 100%); /* older mobile safari and android > 2.2 */;
  background-image: linear-gradient(to bottom, orange 0, #C98301 100%); /* W3C */
}
input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, orange 0, #C98301 100%); /* W3C */
}
.nav-bar__buttons-container{
    display: flex;
    flex-direction: column;
}
input[type="range"]::-ms-thumb {
  width: 40px;
  height: 18px;
  border-radius: 12px;
  border: 0;
  background-image: linear-gradient(to bottom, orange 0, #C98301 100%); /* W3C */
}
.nav-bar__header{
    background-color: grey;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar__webs{
    margin: 10px 40px;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-bar__sliders-container{
    margin: 10px 40px;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
}
main {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
.canvas{
    border-radius: 20px;
    background-color: tomato;
    margin: 20px auto;
    width: 80vw;
    background-size: 1vw 1vw;
    background-image: linear-gradient( to right, #4a0f52 1px, transparent 1px ), linear-gradient(to bottom, #4a0f52 1px, transparent 1px);
    filter: drop-shadow(11px 10px 17px #363636e0);
}
footer{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.footer__button{
    margin: 40px;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: tomato;
    color: orange;
}
.footer__button:hover{
    background-color: orange;
    color: tomato;
    
}
.slider{
    margin: 10px;
}
