@import '../../variables';
@import '../../reset';

.footer{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: $pink ;
    width: 100%;
    height: 20%;
    .footer__upper{
        display: flex;
        justify-content: space-evenly;
        .footer__upper-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: Bebas Neue;
            font-size: 24px;
            color: white;
            .footer__upper-cards{
                width: 260px;
                height: 40px;
                padding: 5px;
            }
            .upper-container__text{
                padding: 5px;
            }
            .footer__contact{
                font-family: Roboto;
                font-size: 18px;
                padding: 0.8vw;
            }
        }
    }
    .map{
        margin-top:50px;
        border:0;
        width:"400";
        height:"300";
    }
    .footer__lower{
        text-align: center;
        color: $yellow;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        margin: 40px 0 20px 0;
    }
}