.header{
    width:100%;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: stretch;
}
.header__lower__nav-icons{
    
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    

}
.icons{

    Width: 161px;
    height: 90px;
}
.logo{
    width: 201px;
    height: 248px;
    top: 67px;
    left:45px;
}
.cart{
    width: 85px;
    height: 75px;
}
.menu{
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.header__upper{

    Width: 100%;
    height: 61px;
    background-color:  #B968FF ;

   

}
.discount{
    color: #FFFB96 ;
    font-family:  Neue;
    font-style: Regular;
    font-size: 36px;
    line-height: 43px;
    line-height: 100%;
    align-items: center;
    
    
}
.discount{
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}
.login{
    width: 76px;
    height: 97px;
}

#select-container {
  position: absolute;
  width: 50px;
  height: 40px;
  background: #FFFFFF;
  top: 50px; left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  border: 0.5px solid rgba(202, 219, 226, 0.40);
  box-shadow: 0px 3px 6px rgba(79, 104, 113, 0.20);
  overflow: hidden;
  transition: height 0.2s ease-in-out, border-radius 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  
  &:hover {
    height: 186px; /* Can't use height: auto & transition effect */
    border-radius: 20px;
    box-shadow: 0px 7px 10px rgba(79, 104, 113, 0.30);
  }
  ul {
    list-style-type: none;
    position: relative;
    li {
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
      &:first-child {
        img {
          cursor: default;
        }
      }
      img {
        width: 25px;
        height: 25px;
        
        display: block;
        left: 50%;
        transform: translate(-103%, -40%);
        margin-bottom: 8px;
    
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        box-shadow: 0px 0px 6px rgba(79, 104, 113, 0.30);
        
        cursor: pointer;
        transition: all 0.1s ease-in-out;        
        &:hover {
          box-shadow: 0px 5px 10px rgba(79, 104, 113, 0.30);
          transform: translate(-103%, -40%) scale(1.08);
        }
      }  
    }
  }
}




/* TOOLTIP STYLES FROM THIS PEN https://codepen.io/tutsplus/pen/WROvdG */
[tooltip] {
  position: relative; /* opinion 1 */
  font-weight: bold;
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: 12px; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */

  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;

  /*
    Let the content set the size of the tooltips
    but this will also keep them from being obnoxious
    */
  width: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px 0px;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #465663;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 50%;
  border-bottom-width: 0;
  border-top-color: #465663;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(50% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before {
  left: -15.5px;
  bottom: 40px;
  transform: translate(-50%, -.5em);
}
[tooltip][flow^="up"]::after {
  left: -15.5px;
  bottom: 45px;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 70%;
  border-top-width: 0;
  border-bottom-color: #465663;
}
[tooltip][flow^="down"]::after {
  top: calc(70% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: -15.5px;
  transform: translate(-50%, .5em);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}
