@import '../../styles/styles.const';

.sportSelector{
    background-color: $main-color;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 4rem;
    width: 100%;
   
    .sport-selector__navigation-menu
    {
        background-color: transparent;
        color: white;
        outline: inherit;
        border: none;
        transition: .2s;
        font-size: 1.5rem;
        width: 2rem;
        height: 2rem;
        transition: .2s;

        &:hover{
            color: $hover-color;
            font-size: 1.7rem;
            transform: rotate(360deg);
        }
    }
}