.details {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    flex-wrap: wrap;
}
.details__data {
    display: flex;
    flex-direction: column;
    margin: 2vh;
}
.details__id {
    display: flex;
}