@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.profile-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.profile-upper-block {
    display: flex;
    flex-direction: row;
}
.profile-photo-block {
    display: flex;
    width: 30%;
}

.profilepic {
width: 225px;
height: 225px;
left: 138px;
top: 217px;
border: 1px solid rgba(56, 183, 154, 0.7);
background: rgba(72, 229, 194, 0.22);
box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 10px 10px 40px rgba(158, 158, 158, 0.5);
border-radius: 142.5px;
}

.photo-deco-circle {
    /* Profile-photo-shadow */
width: 274px;
height: 274px;
left: 81px;
top: 251px;
}
/* Rectangle 1 */
.rectangle {
width: 274px;
height: 274px;
left: 81px;
top: 251px;
background: rgba(72, 229, 194, 0.22);
box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 10px 10px 40px rgba(158, 158, 158, 0.5);
border-radius: 142.5px;
/* Rectangle */
left: 6.75%;
right: 76.74%;
top: 4.35%;
bottom: 91.92%;
border-radius: 129.545px;
}

.profile-data-block {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-left: 25px;
}

.profile-username {
    /* Name */
width: 456.03px;
height: 45px;
left: 455px;
top: 235px;
font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 57px;
/* or 160% */
display: flex;
align-items: center;
color: #38B79A;
}

.user-location {
    display: flex;
    flex-direction: row;
    padding: 5px;
    
}

.location_icon {
    width: 22px;
    height: 22px;
}

.user-location p {
    /* Barcelona, Sants */
width: 368.41px;
height: 35px;
left: 491.75px;
top: 289px;
font-family: Alegreya Sans;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 57px;
/* or 287% */
display: flex;
align-items: center;
color: #9E9E9E;
padding-left: 12px;
}

.profile-data-details {
    display: flex;
    flex-direction: row;
    padding: 25px;
}

.profile-data-details__headline {
 /* Tengo: */
width: 267px;
height: 32px;
left: 464px;
top: 333px;
font-family: Alegreya Sans;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 57px;
display: flex;
align-items: center;
color: #6E6D70;
}

.profile-data__text {
    /* de 5 años */
width: 368.41px;
height: 35px;
left: 515px;
top: 394px;
font-family: Alegreya Sans;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 57px;
/* or 287% */
display: flex;
align-items: center;
color: #9E9E9E;
}
.children-info {
    width: 50%;
    flex-direction: column;
}

.children-info p {
    padding-left: 8px;;
}

.children-info__img {
 width: 15px;
 height: 25px;
 opacity: 0.7;
}

.children-info__age {
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.hobbies-info {
    width: 50%;
}

.hobbies-info__img {
    width: 85px;
}


.profile-rating-block {
    display: flex;
    width: 25%;
}
.profile-lower-block {
    display: flex;
    width: 100%;
}
