* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    color:burlywood;
    font-size: 30px;
    padding-top: 100px;
    text-align: center;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

aside {
    background-color: burlywood;
}

img {
    size: 300px;
}