/* HeroDetailComponent's private CSS styles */
label {
  display: flex;
    color: #435960;
    font-weight: bold;
    align-items: center;
    justify-content: space-around;
  }
  .hero-id{
    color: #435960;
    font-weight: bold;
  }
 
  input {
    font-size: 1em;
    padding: .5rem;
    width: 90%;
  }
  button {
    margin-top: 20px;
    margin-right: .5rem;
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
