footer{
    height: 25px;
    background-color: #ff2424;
    color: white;
    margin-top: 40px;
    h4{
        font-size: 18px;
        font-weight: 400;
        width: fit-content;
        margin: 5px auto;
        padding: 5px;
    }
}