*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}
div{
    display: flex;

}

section{
    margin: 30px;
    padding: 20px;
    min-width: 40%;
}

@media screen and (max-width: 1080px) {
    div{
        flex-direction: column;
    }
}