header{
    height: 50px;
    background-color: #ff2424;
    display: flex;
}

h1{
    color: white;
    font-size: 36px;
    font-weight: 700;
    margin: 10px auto;
}

.header__navigator{
    display: flex;

}