*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.driver-details{
    width:100%;
    height:200px;
    background-image: linear-gradient(to top,rgb(73, 73, 73),black);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container-details{
    display: flex;
    flex-direction: column;
}
img{
    width:55vw;
}

.driver-details__title{
    display:flex;
    flex-direction: column;

}