@import '../../assets/colors.scss';

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.driver-details{
    width:100vw;
    height: 30vw;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:$color-black ;
}
    .back-button__container{
        height: 5vw;
        width: 5vw;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 1vw;
        margin-top: 2vw;
    }
        .back{
            height: 5vw;
            width: 5vw;
            
        }
        
    
    .header-container{
        display: flex;
        flex-direction: row;
        margin-left: 10px;
        justify-content: space-between;
        

    }
    .container-details{
        display:flex;
        flex-direction: row;
        
    }
    .driver-details__title{
        display:flex ;
        flex-direction: column;
    }
        .driver-name, .driver-cosntructor,.driver-constructor{
            font-size: 2vw;
            color:$color-off-white;
        }
        .driver-surname{
            color:$color-off-white;
            margin-bottom: 2vw;
        }
.driver-number{
            color:$color-off-white;
            margin-right:3vw;
            padding-right:3vw;
            border-right: 3px solid grey;
}
.driver-name{
    font-size: 2vw;
}
.driver-surname{
    font-size: 4vw;
    font-weight: bold;
}
    
@mixin Line($color: $mercedes) {
    border-left: 3px solid $color;
    height: 12vw;
    width: 1vw;
    margin-right: 6vw;
    
}

.mercedess{
    @include Line;
 }
.red_bulls{
   @include Line($red_bull);
}
.ferraris{
    @include Line($ferrari);
}
.mclarens{
    @include Line($mclaren);
 }
 .alpines{
    @include Line($alpine);
 }
 .alphatauris{
    @include Line($alphatauri);
 }
 .aston_martins{
    @include Line($aston_martin);
 }
 .williamss{
    @include Line($williams);
 }
 .alfas{
    @include Line($alfa);
 }
 .haass{
    @include Line($haas);
    border: solid gray 0.2px;
 }
 .foto-piloto{
     background-color: salmon;
     height: 15vw;
     width: 15vw;
 }
 .championship{
    display: flex;
    flex-direction: column;
    margin: 10px;
 }
 .championship-standing-container{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-bottom:5vw;
 }
 .container-champ{
     display: flex;
     flex-direction: column;
    
 }
 .postion{
     font-size: 15vw;
 }
 @mixin points ($color: $mercedes){
    
     border-top: solid 3px $color;
     border-right: solid 3px $color;
     border-top-right-radius: 25px;
     font-size: 5vw;
     width: 40vw;
     display: flex;
     flex-direction: row;
     align-items: flex-end;
     justify-content: flex-start;
 }

 .mercedespoints{
    @include points;
 }
.red_bullpoints{
   @include points($red_bull);
}
.ferraripoints{
    @include points($ferrari);
}
.mclarenpoints{
    @include points($mclaren);
 }
 .alpinepoints{
    @include points($alpine);
 }
 .alphatauripoints{
    @include points($alphatauri);
 }
 .aston_martinpoints{
    @include points($aston_martin);
 }
 .williamspoints{
    @include points($williams);
 }
 .alfapoints{
    @include points($alfa);
 }
 .haaspoints{
    @include points($haas);
    border: solid gray 0.2px;
 }


 .points__pts{
     margin-left: 1vw;
     color: $color-white;
     background-color: gray;
     border-radius: 5px;
 }