.userSelection {
    width: 220px;
    height: 70px;
    transform: skew(20deg);
    padding: 10px;
    background-color: #9fdff3;
    opacity: 0.5;
    .userSelection__image{
        width: 50px;
        height: 50px;        
    }
    .wantIt{
        background-image: url("https://i.ibb.co/9HM9jqB/wantIt.jpg");
        background-size:cover;
    }
    .haveIt{
        background-image: url("https://i.ibb.co/MPvDxR0/haveIt.png");
        background-size:cover;
    }
    .favorite{
        background-image: url("https://i.ibb.co/XjvJdyG/Illustration-of-star-icon.jpg");
        background-size:cover;
    }
    .disLike{
        background-image: url("https://i.ibb.co/9wV8dc3/dislike.png");
        background-size:cover;
    }
    .value{
        filter: none;
    }
    .noValue{
        filter: grayscale(100%);
    }
}