*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    background-color: rgb(23, 23, 23);
    font-family: 'Noto Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 3rem;
}
 
img {
    border: solid 0.2rem;
    border-color: #ff982f;
}
article {
    margin: 2rem;
}

button {
    background-color: #237de0;
    width: 7rem;
    padding: 0.4rem;
    border: solid 0.1rem;
    border-radius: 10vh;
}