/* Website footer */

footer {
position: absolute;
width: 1366px;
height: 245px;
left: calc(50% - 1366px/2 - 1px);
top: calc(50% - 245px/2 - 157.5px);
background: #5E5E5E;
backdrop-filter: blur(12px);
}
/* Note: backdrop-filter has minimal browser support */


/* © 2021 Child Connect | All rights reserved */
/*
position: absolute;
width: 742px;
height: 19px;
left: 548px;
top: 211px;

font-family: Alegreya Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;

color: #FFFFFF;

*/

/* Child Connect (3) 1 */

/*
position: absolute;
width: 252px;
height: 265px;
left: 569px;
top: -13px;

background: url(Child Connect (3).png);
*/

/* Redes Sociales div */
/*
position: absolute;
width: 228px;
height: 39px;
left: 981px;
top: 99px;

*/

/* facebook 1 */
/*
position: absolute;
width: 17.7px;
height: 36px;
left: calc(50% - 17.7px/2 + 517.15px);
top: calc(50% - 36px/2 - 2.5px);

background: url(facebook.png);
*/

/* twitter 1 */
/*
position: absolute;
width: 37.48px;
height: 31px;
left: calc(50% - 37.48px/2 + 474.99px);
top: calc(50% - 31px/2 - 5px);

background: url(twitter.png);
*/

/* insta 1 */
/*
position: absolute;
width: 38.52px;
height: 37px;
left: calc(50% - 38.52px/2 + 317.26px);
top: calc(50% - 37px/2 - 5px);

background: url(insta.png);
*/

/* whatsapp 1 */
/*
position: absolute;
width: 35.4px;
height: 35px;
left: calc(50% - 35.4px/2 + 374px);
top: calc(50% - 35px/2 - 6px);

background: url(whatsapp.png);

*/
/* tel 1 */
/*
position: absolute;
width: 35.4px;
height: 35px;
left: calc(50% - 35.4px/2 + 423.97px);
top: calc(50% - 35px/2 - 6px);

background: url(tel.png);

*/
/* Group 6634 */

.footer-terms-list {
position: absolute;
width: 155px;
height: 155px;
left: 254px;
top: 39px;
}


/* Datos de la empresa */
.footer-terms-list_item {
position: absolute;
width: 155px;
height: 21.8px;
left: 254px;
top: 172.2px;

font-family: Alegreya Sans;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;

color: #FFFFFF;
}

/* Child Connect */
/*
position: absolute;
width: 155px;
height: 21.8px;
left: 254px;
top: 39px;

font-family: Alegreya Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;*/
/* identical to box height */
/*
display: flex;
align-items: center;

color: #FFFFFF;

}*/