*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    background-image: url(https://i.ibb.co/HgPB420/brothers-2107264.jpg);
    background-repeat: no-repeat;
    background-size: 1367px;
    font-family: Arial, Helvetica, sans-serif;
}

.header__menu {
    width: 100%;
    height: 180px;
    background-color: #5E5E5E;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
}

.header__menu-buttons {
    display: flex;
    align-items: center;
    padding: 20px;   
}

.header__home-button {
    opacity: 1;
}


.header__button-perfil {
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: black;
    padding: 20px;
    margin-top: 20px;
}

.header__button-perfil:active {
    color: red;
} 

.header__button-logout {
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: black;
    padding: 20px;
    margin-top: 20px;    

}

.button__crear-evento {
    background: #FED305;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 160px;
    height: 40px;
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    padding: 8px;
    color: #FFFFFF;  
}

.button__crear-evento:active {
    color: red;
}


h1 {
    margin-top: 250px;
    padding-bottom: 400px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}









