$footer-font: Helvetica, sans-serif;

$text-light-color: rgb(222, 222, 222);
$solid-dark: rgb(70, 70, 70);

.footer{

    position: fixed;
    bottom: 0;

    display: flex;
    flex-wrap: nowrap;
    height: 50px;
    width: 100vw;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: $solid-dark;
}
.social-links {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 20px;
    flex-direction: row;
    align-items: center;
}
.footer__link {
    margin-left: 20px;
    text-decoration: none;
    color: $text-light-color;
}
.social-links__image{
    height: 40px;
}