*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #212121;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}

.header__title {
  color: white;
}

.header__navigation-button {
  color: white;
  font-size: 1rem;
  text-align: center;
  border-right: 2px solid white;
  border-left: 2px solid white;
  height: 1.5rem;
  width: 3rem;
  line-height: 1.5rem;
  transition: .2s;
}

.header__navigation-button:hover {
  background-color: lightgray;
  color: #212121;
  line-height: 1.75rem;
  height: 1.75rem;
}

.header__navigation-button:active {
  background-color: white;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}