body {
  margin: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
  text-align: center;
}

.header-button {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
}

.header-button:visited,
a:link {
  color: #607D8B;
}

.header-button:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

.header-button.active {
  color: #039be5;
}

/* HeroDetailComponent's private CSS styles */
label {
    color: #435960;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
  button {
    margin-top: 20px;
    margin-right: .5rem;
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  
  
  /*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at https://angular.io/license
  */