* {
    margin: 0vw;
    font-family: 'helvetica Neue', 'helvetica', 'sans-serif';
    background-color: rgb(224, 222, 208);
}

/*Header*/

header {
    display: flex; 
    flex-direction: row;
    background-color:rgb(147, 126, 181);
    justify-content: space-between
}

header img {
    background-color:rgb(147, 126, 181);
}

header nav {
    background-color: rgb(147, 126, 181);
}

/*Header navigation bar*/

header nav a {
    text-decoration: blink; 
    color: white;
}

/*Aside*/

aside {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}

/*Logo*/

aside img {
    width: 128px;
    margin-top: 16px;
}

/*Body navigation bar*/

aside nav {
    display: flex; 
    flex-direction: column; 
}

aside nav a {
    text-decoration: blink; 
    color: white;
    width: 128px;
    height: 32px;
    text-align: center;
    margin-top: 4px;
    background-color: rgb(194, 48, 27);
}

/*Font, sizes and margins*/

nav {
    font-size: 16px; 
    margin-top: 16px; 
}

h1{
    font-size: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: rgb(147, 126, 181);
}

h2 {
    font-size: 24px;
    margin-top: 24px;
    margin-bottom:16px;
}

h3 {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom:16px;
}

p {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom:16px;
    text-align: justify;
}

figcaption {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom:16px;
}

/*Query for big screen*/

@media only screen and (min-width: 600px) {
    /*Nav and article display*/
    main {
        display: flex; 
        flex-direction: row;
        justify-content: space-around;
    }

    article {
        width: 50vw;
    }

    article img {
        width: 50vw;
    }
}

/*Query for small screen*/

@media only screen and (max-width: 600px) {
    /*Nav and article display*/
    main {
        display: flex; 
        flex-direction: column;
        align-content: space-between;
        width: 96vw;
        margin-left: 2vw; 
        margin-right: 2vw; 
    }

    article img {
        width: 96vw;
    }
}