
body{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    align-items: center;
    font-family: "Source Sans Pro",sans-serif;
}

.navagator{
    vertical-align: top;
}
.header{
    display: flex;
    flex-direction: row;
}
.upper-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-around;
}
.registro{
    display: flex;
    flex-direction: row;
}
.header{
    display: flex;
    flex-direction: column;
}
.lower-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: flex-start;
}
.fiestass{
    text-align: center;
   
    
}
.utilensili{
    height: 10px;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.top-left-img{
    height: 250px;
    width: 250px;
    background-image: url(	https://static3.marialunarillos.com/media/catalog/category/hadas.jpg);
}
.bottom-left-sec{
    height: 250px;
    width: 250px;
    background-image: url(https://static3.marialunarillos.com/media/catalog/category/corazones.jpg);
}
.right-central-sec {
    height: 500px;
    width: 300px;
    background-image: url(https://static3.marialunarillos.com/media/catalog/category/fiestaspreppy.jpg);
}
.central-section{
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;

}
.ver-mas{
    
    margin: auto;
    text-align: center;
    align-content: center;
    color: white;
    height: 30px;
    width: 90px;
   background:red;
   
    border: 3px solid rgb(228, 16, 16);
}
footer{
    
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
@media (max-width: 600px) {
    .right-section {
      display: none;
    }
    .navagator{
        display: none;  
    }
    .registro p{
        display: none;
    }
    .central-section{
        display: flex ;
        flex-direction: column;
    }
    footer  {
        display: none;
    }
    
   
    
}