label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
button {
  margin-top: 20px;
  margin-right: .5rem;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
#hero__id,#hero__title,#hero__name,#hero__slug,#hero__powerstats,#hero__appearance,#hero__biography,#hero__work,#hero__connections,#hero__images{
  text-transform: lowercase;
  text-transform: capitalize; 
  margin-top: 10px 0 ;
}
#hero__images>img{
  display: flex;
  margin: 0 auto;
  border: solid 5px gold;

}
.hero-slug{
  padding: 20px 0;
}

