
    <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">New Task</div>
        <form method="put" action="/edit" class="card-body">
            <input 
              type="text"
              name="taskTitle"
              id="taskTitle"
              class="form-control"
              placeholder="New Title"
              aria-label="Title"
              >
            <input 
              type="text" 
              class="form-control" 
              id="taskDetails"
              name="taskDetails"
              placeholder="New Details" 
              aria-label="Details"
              >
            <input type="submit" value="Edit" class="btn btn-info"/>
          </div>
        </form>
      </div>