body{
    background-image: url(../assets/pokedex-mobile.png);
    background-repeat: no-repeat;
    background-size: 380px;
    background-position: center;
    background-position-y: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: retrograde;
}
@font-face{
    font-family: "retrograde";
    src: url("../assets/Retrograde-Font/Retrograde-Regular.otf") format("Opentype");
  }
header {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 380px;
    transform: translate(10px, 25px);
}
main{
    height: 500px;
    width: 380px;
}
h1,h2,p{
    margin-block-end: 0.23em;
    margin-block-start: 0.23em
}
footer{
    width: 380px;
}
.header__reset-button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px;
    text-decoration: none;
    font-family: retrograde;
    background-color: transparent;
    border: none;
}
.main__screen-stats{
    padding: 20px;
}
.pokemon-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
    margin-top: 80px;
    width: 170px;
}
.screen__top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.screen__pokemon-pic-container {
    margin-top: 70px;
    margin-left: 18px;
    display: flex;
    flex-direction: column;
}

.screen__pokemon-picture{
    transform: scale(2);
    margin-top: 40px;
    margin-left: 20px;
}
.screen__pokemon-description{
    width: 300px;
    font-size: 0.9em;
    margin-left: 35px;
    transform: translate(0px, -40px);
}

#footer__details-container{
        display: flex;
        flex-direction: row;
}
.footer__input{
    height: 30px;
    width: 173px;
    background-color: transparent;
    border: none;
    font-family: 'retrograde';
}
.footer__create-link {
    background-color: grey;
    height: 40px;
    width: 80px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: black;
}
.footer__filter-link {
    background-color: grey;
    height: 40px;
    width: 80px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: black;
}

