<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css" defer>
    <link rel="stylesheet" href="styles.css" defer>
    <title>EJS test</title>
</head>
<body class="container">
    <header>
        <h1 class="text-secondary">EJS test</h1>
        <nav>
            <a class="text-light bg-dark" href="/">Home</a>
            <a class="text-light bg-dark" href="/profile">Profile</a>
        </nav>
    </header>
    <p>Dashboard</p>

    <script src="js/bootstrap.min.js"></script>
</body>
</html>