@import '../../styles/styles.const';

.footer{
    background-color: $main-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 4rem;
    position: fixed;
    bottom: 0;
    width: 100%;
   
    .footer__navigation-home-button,
    .footer__navigation-backpage-button,
    .footer__navigation-profile-button
    {
        background-color: transparent;
        color: white;
        outline: inherit;
        border: none;
        transition: .2s;
        font-size: 1.5rem;
        width: 2rem;
        height: 2rem;
    

        &:hover{
            color: $hover-color;
            font-size: 1.7rem;
        }
    }
}