.section__comic-list{
    background-color: white;
}
.list{
    display: flex;
    flex-direction: column;
}
.list-item{
    display: flex;
    width: 300px;
    background-color: grey;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin:20px;
}
.hero-image{
    width: 150px;
}
.hero-name{
    text-align: center;
    width: 150px;
}
.titels__comic-list{
    background-color: rgba(67, 202, 255, 0.76);
    border: double;
    outline-width: 4px;
    outline-offset: 1px;
    z-index: 1;
   left: 50%;
   transform: translate(-50%, -50%);
}