*{
    color: white;
    background-color: #464646;
}
.details{
    display: flex;
    flex-direction: column;
    
    height: 100%;
}
.detail__top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    p{
        width: 50%;
    }
}
@media (max-width: 375px) {
    .detail__top{
        display: flex;
        flex-direction: column;
        align-items: center;
}
}
.detail__img{
    width: 50%;
margin: 10px;
}
.detail__title{
    display: flex;
    justify-content: center;
}
.detail__creators{
    margin: 10px;
}
.detail__bottom{
    display: flex;
    justify-content: center;
    border-style: dotted;
    margin: 20px;
    font-size: 1.5em;
}
.detail__creator{
    margin-bottom: 10px;
}