.user {
    width: 100%;
    text-align:center;
    margin-top: 30px;
    .user__email {
        text-align: center;
        margin: 30px 0px 40px 0px;
    }
    ul {
        margin: 30px 0px 30px 25px;
        text-align: left;
        li {
            list-style: none;
            margin: 5px 0px 5px 15px;
        }
    }
}