.Home__user-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Home__user-article{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
}
.Home__user-article > img{
    border-radius: 50%;
    width: 160px;
}
.Home__user-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
}
.Home__user-picture{
    display: flex;
}
.Home__user-name{
    display: flex;
}
.home__friends-container{
    display: flex;
    flex-direction: row;
}

.home__adversaries-container{
    display: flex;
}
