


.navagator{
    vertical-align: top;
}
.header{
    display: flex;
    flex-direction: row;
}
.upper-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
}
.registro{
    display: flex;
    flex-direction: row;
}
.header{
    display: flex;
    flex-direction: column;
}
.lower-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
}