<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nachos website">
    <title>My website</title>
</head>
<body class="container">

    <header>
        <h1>Profile</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/profile">Profile</a>
    </nav>
    </header>
    <hr>
    <main>
        <h2>Wellcome <%=user.name%></h2>
        <p>age: <%=user.age%></p>
        <p>married: <%=user.married?'uffff':'no Thanks!'%></p>
    </main>
    
</body>
</html>