*{
    margin: 0 auto;
    font-family: 'Tourney', cursive;
    background-color:lightgray;
    padding:0;
    color: white;
    font-size: 50px;
}
h1{
    font-size: 80px;
}

.header-container{
    display: flex;
    justify-content: center;
}
.header-container>h1{
    display:flex;
    padding:20px 40px;
    border: 5px solid gray;
    border-radius: 0 40px;
    margin-top:30px;
    margin-bottom: 30px;
    background-color:lightpink;
}

.main-container{
    width: 50vw;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . . . ."
        ". . . . . ."
        ". . . . . ."
        ". . . . . ."
        ". . . . . ."
        ". . . . . .";     
    border: 5px solid gray;
    border-radius: 20px;
    align-items: center;

}

.footer-container{
    display:flex;
    margin-top: 40px;
}
.footer-container__start-button,.footer-container__stop-button{
    background-color:lightpink;
    font-size: 40px;
    padding:10px 20px;
    border-radius: 15px;
    border: 5px solid gray;
}

.footer-container__start-button:hover,.footer-container__stop-button:hover{
    cursor:pointer;
    background-color: lightskyblue;
}
.dead{
    background: darkgray;
    width: 70px;
    height: 55px;
    border: 1px solid darkgray;
    text-align: center;

}
.live{
    background:lightpink;
    width: 70px;
    height: 55px;
    border: 1px solid darkgray;
    align-content: center;
