*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.upper-navigation{
    height: 60px;
    display: flex;
    justify-content: space-around;
    background-color: #a593c2;
    align-items: center;
}

.upper-navigation-menu{
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    color: white;
    font-size: 15px;
}

main, footer{
    background-image: url("https://i.ibb.co/dgg415M/pattern.png"); 
    background-repeat: round;
}

aside p{
    text-align: center;
    line-height: 50px;
    width: 200px;
    margin: 5px;
    color: white;
    background-color: #cf4522;
}

.main-container{
    display: flex;
    flex-direction: column;
}

.biglogo-and-pies{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#big-logo{
    width: 300px;
    height: 300px;
}