#morespecific {
    background-color: red;
    border: 1px solid black;
}

.specific {
    background-color: grey;
    border: none !important;
}

p {
    background-color: blue;
    color: white;
    padding: 5px;
}
/* MediaQueries always on bottom of css.
First the "normal" rules and at the end
of the stylesheet cascade the mediaqueries
rules for manage browser resize.  */
@media screen and (min-width: 780px) {
    p {
        color: green;
    }
    
}