*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-container{
    width:100vw;
}   
.header-container__topnav{
    width:100vw;
    height: 50px;
    background-color: #f8f8f8;
    display:flex;
    justify-content: space-evenly;
}
.header-container__logo{
    width:100vw;
    height:9.25rem;
    display:flex;
    justify-content: center;
    background-color: chartreuse;
}
.logo{
    width:50vw;
}