

.container-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 0;
    background-color: lightgray;
    margin:0 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.container-header>h1{
    display: flex;
    padding-left: 10px;
}
.container-header>span{
    display: flex;
    padding-left: 10px;
}