*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0px 0px 0px 0px;
    /*permite que el header ocupe el 100%*/
    font-family: sans-serif;
    background-color: rgb(248, 248, 248);
}

/*Header-movile selectors*/

.header-container {
    display: flex;
    flex-direction: column;
}

.header-container__navbar {
    background-color: rgb(248, 248, 248);
    text-align: center;
    align-items: center;
    padding: 2vh;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

.navbar__anchor-items {
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: row;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    height: 7vh;
    justify-content: space-between;
}

.navbar__item {
    background-color: grey;
    text-align: center;
    justify-content: center;
}

.item__menu {
    color: rgb(255, 89, 89);
    width: 7vh;
    height: auto;
    cursor: pointer;
    padding: 1vh;
}

.item__person {
    color: #514E4A;
    width: 3.5vh;
    height: auto;
    cursor: pointer;
    padding: 1vh;
    padding-left: 5vh;
    padding-right: 5vh;
}

.item__forget {
    background-color: rgb(187, 184, 182);
    color: white;
    cursor: pointer;
    padding: 1vh;
    padding-top: 3vh;
    padding-bottom: 2vh;
}

.item__shopping-cart {
    color: #514E4A;
    width: 7vh;
    height: auto;
    cursor: pointer;
    padding: 1vh;
}

.item__accountant {
    background-color: rgb(255, 89, 89);
    cursor: pointer;
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    color: white;
    font-size: 5vh;
    font-family: "Myriad Pro", "Myriad Web", "Tahoma", "Helvetica", "Arial", sans-serif;
}

.header-container__img {
    display: inline;
    width: 60%;
    margin-top: 7vh;
    margin-bottom: 7vh;
    margin-left: auto;
    margin-right: auto;
}

/*Header-desktop selectors*/

.header-desktop {
    display: none;
}

/*
.header-desktop__big-logo {}

.big-logo__colors {}

.big-logo__maria-lunarillos {}

.header-desktop__big-menu {}

.big-menu__search-area {}

.search-area__anchor {}

.big-menu__menu {}

.menu-iconos__list-menu {}

.list-menu__utensillos {}

.list-menu__ingredientes {}

.list-menu__itefiestas {}

.header-containerlist-menu__marcas {}

.big-menu__blog {}
*/

/*Main selectors__party*/

.main-container {
    display: block;
}
p{
    font-size: 3vh;
    display: none; 
}
h3{
    font-size: 3vh;
}
.main-container__party {
    display: flex;
    flex-direction: column;
}

.party__header {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.party__tarta {
    width: 25vw;
}

.party__items {
    background-color: teal;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
}
.my-divs{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    margin-top: 1vh;
    display: flex;

}
.items__img {
    height: 100%;
}
.items__clip-path {
    clip-path: polygon(0 25%, 63% 25%, 100% 100%, 0% 100%);
    color: rgb(103, 99, 95);
    opacity: 0.8;
    background-color: rgb(254, 253, 249);
    width: 70vw;
    height: 20vh;
    display: flex;
    align-items: flex-end;
    margin-block-start: auto;
}
.items__div1 {
    background-image: url("https://static3.marialunarillos.com/media/wysiwyg/pequenoelectrodomestico2.jpg");
}

.items__div2 {
    background-image: url("https://i.ibb.co/sPHz3wj/marialunarillos-com-oficial-CA92-Axf-BYJm.jpg");
}

.items__div3 {
    background-image: url("https://i.ibb.co/qrv8Qd3/1387060033104580609-Ez-Tv-Dl-XEAEBk-IM.jpg");
}

.party__button {
    background-color: violet;
}

.button__button {}

/*Main selectors__home-delibery*/

.main-conteiner__home-delivery {}

/*Main selectors__contact-information*/

.main-container__contact-information {}

.contact-information__folow-us {}

.contact-information__subscribe {}

.subscribe__mail {}

.subscribe__privacy {}

.subscribe__button {}

/*Main selectors__know-us*/

.contact-information__know-us {}

footer {}