#morespecific{
    background-color: red;
    border: 5px solid black;
    }
    .specific{
        background-color:blue;
        border:none !important;
        
    }
    p{
        background-color: green;
        color: white;
        padding: 5px;
    }
    .container{
        background-color: black;
        color:orange !important;
    }