@import '../../styles/extensions', '../../styles/variables';

.cart {
    position: fixed;
    width: 100%;
    height: fit-content;
    top: 3rem;
    font-family: $main-font;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: $main-dark-color;
    box-shadow: 0px 1px 2px $main-dark-color;

    .cart__clear {
        background-color: $main-light-color;
        padding: 0.5rem 0.75rem 0 0.75rem;
        @extend %row-between-flex;

        .cart__title {
            font-size: 1.25rem;
        }

        .cart__clear-button {
            background-color: transparent;
            color: $main-dark-color;
            font-size: 1.25rem;
            border: none;
        }
    }

    .cart__cart-products {
        display: flex;
        flex-direction: column;

        .cart-products__product {
            @extend %row-between-flex;
            padding: 0.4rem 0.5rem;
            background-color: $main-light-color;

            & + .cart-products__product {
                border-top: 2px solid $main-color;
            }

            .product__image {
                @extend %small-image;
            }
    
            .product__name {
                font-size: 1rem;
            }

            .product__price {
                font-size: 1rem;
            }

            .product__amount {
                @extend %row-between-flex;

                .product__quantity {
                    display: block;
                    width: 1.5rem;
                    text-align: center;
                }

                .product__substract-button,
                .product__add-button {
                    font-weight: bold;
                    font-size: 0.75rem;
                    padding: 0.25rem 0.5rem;
                    background-color: $main-color;
                    border: 3px solid $main-light-color;
                    border-radius: 2px;
                    color: $main-light-color;
                    box-shadow: 2px 2px 3px $main-dark-color;
                    transition: .2s;
                
                    &:hover {
                        background-color: $main-light-color;
                        border: 3px solid $main-dark-color;
                        color: $main-dark-color;
                    }
                
                    &:active {
                        box-shadow: none;
                        font-size: 0.7rem;
                    }
                }
            }
    
            
        }
    }
    .cart__summary {
        @extend %row-between-flex;
        background-color: transparent;
        border: none;
        color: $main-light-text-color;
        padding: 0 2rem;
        height: 2rem;

        .cart__open-icon{
            margin-right: 1rem;
            font-size: 0.8rem;

            &::after {
                content: '▲';
            }
        }
    }

    .cart__pay-button {
        margin: 0.75rem;
        margin-bottom: 0;
        border: none;
        border: 3px solid $main-light-color;
        background-color: transparent;
        color: $main-light-color;
        padding: 0.5rem 0;
        font-size: 1rem;
        font-weight: bold;
        transition: .2s;

        &:hover {
            background-color: $main-light-color;
            color: $main-dark-color;
        }

        &:active {
            box-shadow: 0 0 10px $main-color;
            background-color: $main-color;
            border: 3px solid $main-color;
        }
    }

    &--closed{
        .cart__clear {
            display: none;
        }

        .cart__cart-products {
            display: none;
        }

        .cart__pay-button {
            display: none;
        }

        .cart__summary{
            .cart__open-icon::after {
                content: '▼';
            }
        }
    }
}

@media screen and (min-width: 720px) {
    .cart{
        order: 1;
        min-width: 450px;
        max-width: 450px;
        position: unset;
        box-shadow: 2px 3px 5px $main-dark-color;
                
        .cart__cart-products {
            .cart-products__product {
                padding: 0.5rem;
            }
        }

        .cart__summary {
            padding: 0 0.5rem;

            .cart__open-icon {
                display: none;
            }
        }

        &--closed{
            .cart__clear {
                display: flex;
            }
    
            .cart__cart-products {
                display: flex;
            }

            .cart__pay-button {
                display: unset;
            }
        }
    }
}