 /**** General Styles ****/
 *{
    margin: 0;
}

.header{
    background-color: #EF5350;
    display: flex;
    padding: 10px;
    font-family: 'Viga', sans-serif;
    font-size: 30px;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    flex-wrap: wrap;
}

.header a{
    -webkit-text-stroke: 1px #2B76B7;
    color: #FFCC01;
    text-shadow: 3px 3px #21386e;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
}

.header a:hover{
    text-shadow: 1px 1px 1px #21386e;
}

.header__pikachu{
    width: 35px;
    height: 35px;
    margin: 5px;
}

.header__logo{
    width: 300px;
}

.header__nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EF5350;
    color: #FFCC01;
    font-family: 'Viga', sans-serif;
    padding: 30px;
}

.footer__img{
    width: 35px;
    height: 35px;
    padding: 20px;
}