<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My SSR page">
    <title>My SSR First WebSite</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" defer>
    <link rel="stylesheet" href="styles.css" defer>
</head>
<body>
    <header>
        <h1>My SSR First WebSite</h1>
        <h2>DashBoard</h2>
        <a href="/">Home</a>
        <a href="/profile">profile</a>
    </header>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>