#morespecific {
    background-color: red;
    border: 1px solid blck;
}

.specific {
    background-color: gray;
    border: none !important;

}

p {
    background-color: blue;
    color: white;
    padding: 5px;
}

@media screen and (min-width: 480px) {
    body {
        background-color: lightgreen;
    }
}