a{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
}

* {
    cursor: url(https://ani.cursors-4u.net/symbols/sym-9/sym825.ani), url(https://ani.cursors-4u.net/symbols/sym-9/sym825.png), auto;
    }