<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="DASHBOARD">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Marc Martín">
    <title>My website</title>

</head>
<body>
    <header class="container">
    <h1>DASHBOARD</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/profile">Profile</a>
    </nav>
    </header> 
    <hr> 
    <script>
        setTimeout(() => {
            const [title] = document.body.getElementsByTagName('h1');
            title.innerHTML = 'Skylab mola!'
        }, 1000);
    </script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>