
.card-container{
    display: flex;
    margin: 25px;
    border: solid 2px black;
    padding: 15px;
    border-radius: 5px 5px 5px 5px;
    
    &__left{
        display: flex;
        flex-direction: column;
        margin-right: 15px;
    }

    &__right{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }
}
