$title-font: 'Lobster', cursive;
$main-font: 'Rubik', sans-serif;

$header-background-color: #0A0A0A;
$background-color: #212121;
$footer-background-color: #0A0A0A;
$side-menu-background-color: #363636;
$side-menu-title-color: #707070;
$leagues-background-color: #636363; 
$leagues-background-color-favourite: #7f6e2e;
$leagues-background-color-favourite-hover: #a78f3c;
$body-clear-background: #B7B7B7;
$hover-color: #187890;
$main-color: #E09A02;
$favourite-color: #FFDF37;




