$title-font: 'Lobster', cursive;
$main-font: 'Rubik', sans-serif;

$header-background-color: #0A0A0A;
$background-color: #212121;
$footer-background-color: #0A0A0A;
$side-menu-background-color: #363636;
$hover-color: #187890;
$main-color: #E09A02;
$favourite-color: #FFDF37;