*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Myriad Pro", "Myriad Web", "Tahoma", "Helvetica", "Arial", sans-serif;
  border-radius: none;
}

header {
  height: 4rem;
  line-height: 4rem;
  background-color: lightgray;
  text-align: center;
  margin-bottom: 2rem;
}

main {
  display: flex;
  justify-content: center;
}

input {
  height: 2rem;
  border: 2px solid black;
  padding: 1rem;
}

button {
  background-color: transparent;
  border: 2px solid black;
  border-left: none;
  width: 3rem;
  padding: 0.5rem 0;
  transition: .1s;
}

button:hover{
  background-color: black;
  color: white
}

button:active {
  background-color: grey;
  font-size: 0.75rem;
}