*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Myriad Pro", "Myriad Web", "Tahoma", "Helvetica", "Arial", sans-serif;
  border-radius: none;
}

header {
  height: 4rem;
  line-height: 4rem;
  background-color: #212121;
  text-align: center;
  margin-bottom: 2rem;
}

h1 {
  color: white;
}

.to-do{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.to-do__inputs {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.to-do__create-update {
  display: flex;
  margin-bottom: 0.5rem;
}

.to-do__cancel-update {
  background-color: #B53737;
  border: 1px solid black;
  width: auto;
  font-size: 0.6rem;
  font-weight: bold;
  padding: 0.2rem;
}

.to-do__cancel-update:hover {
  background-color: #851400;
  color: black;
}

.to-do__cancel-update:active {
  font-size: 0.55rem;
}

input {
  height: 2rem;
  border: 2px solid black;
  padding: 1rem;
  outline: none;
}

button {
  background-color: transparent;
  border: 2px solid black;
  border-left: none;
  width: 3rem;
  padding: 0.5rem 0;
  transition: .1s;
}

button:hover{
  background-color: black;
  color: white
}

button:active {
  background-color: grey;
  font-size: 0.75rem;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 0.5rem;
}

.to-do__task {
  width: 25rem;
  border: 1px solid grey;
  font-size: 0.8rem;
  border-radius: 0.2rem;
}

.to-do__task:hover {
  background-color: rgb(245, 245, 245);
  color: black;
}

.to-do__task:active {
  background-color: rgb(248, 253, 255);
  font-size: 0.8rem;
}

.to-do__delete {
  font-weight: bold;
  border: 2px solid black;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  left: -1.9rem;
}