body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  height: auto;
  background: rgb(241, 239, 250);
  margin: 40px auto;
}
.right-part-of-the-cv {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.job-title {
  font-size: 20px;
  font-weight: 700;
  color: rgb(53, 53, 53);
}

.My-Description {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

.sidebar {
  background-color: #1e2939;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  width: 370px;
  height: auto;
  left: 40px;
  top: 40px;
  padding-left: 20px;
  color: white;
}

img {
  width: 310px;
  height: auto;
  padding-left: 25px;
  float: right;
  margin-bottom: 25px;
  margin-top: 15px;
}

ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
