*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100%;
}

main {
    display: flex;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
    padding: 20px;
}

h3 {
    font-size: 18px;
    padding: 15px;
}

h1,
h2,
h3 {
    margin: 0 auto;
    width: fit-content;
}

p {
    font-size: 14px;
    margin: 0 auto;
    width: fit-content;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    padding: 5px;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #ffffff;
}

header {
    margin-bottom: 4px;
    padding: 2px;
    color: #ffffff;
    background-color: #000;
    justify-items: center;
}

article {
    display: flex;
    flex-direction: column;
}

li {
    width: fit-content;
    margin: 0 auto;
}

aside {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
}

footer {
    background-color: #000;
    color: #ffffff;
    margin-top: 10px;
}

.hidden {
    display: none;
}

.container {
    width: 100%;
}

.studies-titulation_date {
    font-weight: 700;
}

.studies-titulation_description {
    font-size: 18px;
    max-width: 400px;
}