* {
    font-family: 'Helvetica Neue', 'Helvetica', 'Sans-serif';
    text-align: justify;
    width: 50vw;
}

header {
    background-color: blue;
    color: white;
}

h1, h2, h3 {
    font-size: 16px;

}

#description {
    font-weight: bold;
}

h3 {
    color: blue;
    font-weight: normal;
}

footer {
    font-weight: bold;
}