.paragraph{
    background-color: red;
    color:black;

}

#ide{
    background-color: blue;
}

p{
    color: yellow  ;
}

@media screen and (min-width:400px){
    body{
        font-size: 100px;
background-color: green;
    }
}