*, *::after, *::before {
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: rgb(242, 242, 242);   
}
.fotter__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 0px 10px;
    font-size: 20px;
   
}

.footer__sonary{
    border-right: 1px solid;
    padding-right: 10px;
}


.sonary__icon {
    margin-top: 20px;
    height: 40px;
}

