.books {
    width: 30%;
}

ul.books {
    list-style: none;
    flex: 1;
}

ul.books li {
    height: 50px;
    background-color: lightcyan;
    margin-bottom: 15px;
    padding: 15px;
    border-left: 5px solid lightskyblue;
}

ul.books li:hover {
    background-color: lightskyblue;
}