label {
    color: #435960;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
  button {
    margin-top: 20px;
    margin-right: .5rem;
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
<<<<<<< HEAD
  }

  .details__container{
    display: flex;
    flex-direction: column;
  }

  .details__buttons{
    display: flex;
  }

  .details__title{
 color: #3f525c;
 font-weight: bold;
 margin: 5px;
  }

  .details__minicontainer{
    display: flex;
    margin: 10px;
    align-items: center;
=======
>>>>>>> 1fda93b0ad71b02840dcfd5efba7408ab955bcb6
  }