<%- include("templates/head", {webTitle: 'Home'}) %>
<body>
    <%- include("templates/header") %>
    <main>
          <%- include('templates/new-task-card')%>
    </main>
    <%- include("templates/footer") %>
</body>
</html>