<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <title>Login</title>
</head>
<body>
  <form class="row g-3 needs-validation" method="post" action="/login">
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">First name</label>
      <input type="text" class="form-control" id="username"
      name="username" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  
    
    <div class="col-12">
      <button class="btn btn-primary" value="Create" type="submit">Login</button>
    </div>
  </form>
</body>
</html>