*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.eventList {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.event-pagination {
  margin: 2em;
  display: flex;
  justify-content: space-around;
}

.event-pagination__siguiente, .event-pagination__anterior {
  margin: 2vh;
  width: 10vw;
  height: 4vh;
  border-radius: 10vh;
  background-color: rgb(56, 183, 154);
  border: transparent;
  color: white;
  align-items: flex-end;
  align-self: flex-end;
  margin-right: 10vw;
  margin-bottom: 5vh;
  box-shadow: -5px -5px 10px rgb(255 255 255 / 50%), 5px 5px 10px rgb(170 170 204 / 25%), 10px 10px 20px rgb(170 170 204 / 50%), -10px -10px 20px #ffffff;
}

.event-pagination__siguiente, .event-pagination__anterior:hover {
  cursor: pointer;
}

h2 {
  text-align: center;
  padding: 30px;
}

@media only screen and (max-width: 1036px) {
  .eventList-container {
    margin-top: -20px;
  }
}

@media only screen and (max-width: 941px) {
  .eventList-container {
    margin-top: -80px;
  }
}

@media only screen and (max-width: 741px) {
  .eventList-container {
    margin-top: -150px;
  }
}