@import '../../styles/variables';

.not-logged__title {
    padding-top: 4rem;
    font-weight: bold;
    font-family: $main-font;
}

.not-logged__form {
    font-family: $main-font;
    margin-top: 0.5rem;

    input {
        height: 1.5rem;
        border: 2px solid black;
        padding: 0 0.5rem;
    }

    button {
        margin-left: 0.25rem;
        height: 1.5rem;
        width: 3rem;
        background-color: transparent;
        border: 2px solid black;
        font-weight: bold;

        &:hover {
            background-color: $main-dark-color;
            color: white;
        }

        &:active {
            background-color: black;
        }
    }
}

.not-logged__example {
    font-family: $main-font;
    font-size: 0.7rem;
    margin-top: 0.25rem;
}

.not-logged__user-not-found {
    margin-top: 1em;
    font-family: $main-font;
    font-size: 0.9rem;
    color: $enemy-color
}
