*, *::after, *::before{
    margin: 0;
    padding: 0;
}

.matrix-container{
display: flex;
flex-direction: column;
width: 90%;
height: 50%;
margin: 50px auto;
align-items: center;
}
.matrix-container__row{
display: flex;
width: fit-content;
height: 25px;

}

.matrix-conatiner__button{
width: 25px;
height: 25px;
border: 1px #000 solid;
background-color: #fff;
}
.alive{
    background-color: #fff000;
}

.button-container{
 margin: 50px auto;

 width: 220px; 
}

.button-container__button{
    width: 100px
}