<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My app</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" defer>
</head>
<script>
    setTimeout(() => {
        const [title] = document.body.getElementsByTagName('h1');
        title.innerHTML = "It's alive"
    }, 3000);
</script>
<script src="js/bootstrap.bundle.min.js"></script>
<body>
   <h1>This is my web</h1> 
   <a href="/profile">profile</a>

</body>

</html>