<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My app profile</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>
    <h1>And this is my profile!</h1>
    <a href="/">Home</a>
    <hr>
    <main>
        <h2>And I'm <%= user.name %></h2>
        <h3>Age: <%= user.age %>, no kidding %></h3>
        <h3>Wife: <%= user.wife %></h3>
    </main>
</body>
</html>