@import '../../styles/variables';
@import '../../styles/mixins'; 
.sportSelector{
    @extend %top-title;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
    .sport-selector__navigation-menu
    {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        outline: inherit;
        border: none;
        font-size: 1.5rem;
        width: 2.3rem;
        height: 2.3rem;
        transition: .4s;
        border-radius: 50%;
        @include anchor;


        &:hover{
            color: $hover-color;
            font-size: 2.2rem;
            transform: rotate(360deg);
        }

        svg {
            width: 100%;
            padding: 0.4rem;
            border-radius: 50%;
            fill: white;
            transition: .4s;

            &:hover {
                fill: $hover-color;
                padding: 0rem;
            }
        }

    }
}