*{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.main-header{
    display: flex;
    flex-direction: column;
}

.main-header__nav-fixed{
    background-color: #F8F8F8;
    height: 50px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav-fixed__main-icons{
    width: 232px;
    height: 140px;
    display:flex;
    margin: 0;
    justify-content: space-between;
}

.container-icons-maria{
    width: 80px;
    height: 140px;
    display: flex;
    align-items: flex-end;
    background-color: #ff5959;
}


.container-icons-cucute{
    width: 70px;
    height: 70px;
    background-color: #6199AF;
}

.container-icons-cucute:hover{
    height: 140px;
    display: flex;
    align-items: flex-end;
}

.container-icons-mumuchu{
    width: 70px;
    height: 70px;
    background-color: #F6B436;
}

.container-icons-mumuchu:hover{
    height: 140px;
    display: flex;
    align-items: flex-end;
}

.nav-fixed__user-login{
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 50px;
    font-weight: 400;
    color: #2E2925;
    margin-right: 40px;
}

.nav-fixed__user-login:hover{
    color: #ff5959;
}

.user-login__user-icon{
    width: 27px;
    height: 27px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0 0 no-repeat;
    margin: 10px;
}

.user-login__user-icon:hover{
    width: 27px;
    height: 27px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg);
    background-position: -37px 0px;
    margin: 10px;
}

.nav-fixed__social-icons{
    display: flex;
}

.social-icons__facebook-icon{
    width: 25px;
    height: 20px;
    margin: 15px 7px 0;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg);
    background-position: -4px -540px;
}

.social-icons__facebook-icon:hover{
    background-position: -4px -500px;
}

.social-icons__twitter-icon{
    width: 25px;
    height: 20px;
    margin: 15px 7px 0;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg);
    background-position: -40px -540px;
}

.social-icons__twitter-icon:hover{
    background-position: -40px -500px;
}

.social-icons__instagram-icon{
    width: 25px;
    height: 20px;
    margin: 15px 7px 0;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg);
    background-position: -75px -540px;
}

.social-icons__instagram-icon:hover{
    background-position: -75px -500px;
}

.social-icons__pinterest-icon{
    width: 25px;
    height: 20px;
    margin: 15px 7px 0;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg);
    background-position: -110px -540px;
}

.social-icons__pinterest-icon:hover{
    background-position: -110px -500px;
}

.social-icons__youtube-icon{
    width: 25px;
    height: 20px;
    margin: 15px 7px 0;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg);
    background-position: -180px -540px;
}

.social-icons__youtube-icon:hover{
    background-position: -180px -500px;
}

.nav-fixed__trolley{
    width: 50px;
    height: 50px;
    margin-left: 40px;
    background: #fff url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -64px 10px no-repeat;
}

.nav-fixed__trolley:hover{
    background: #FF5959 url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -64px 10px no-repeat;
}

.nav-fixed__trolley-number{
    width: 50px;
    height: 50px;
    font-family: "Myriad Pro", "Myriad Web", "Tahoma", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    background-color: #FF5959;
    color: #fff;
    line-height: 50px;
    text-align: center;
}

.nav-fixed1{
    display:flex;
    justify-content: space-around
}

.main-header__bottom-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 57px;
    margin-left: 40px;
}

.bottom-header__quick-access{
    width: 590px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
}

.quick-access__present-nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.choices__menu-choices{
    display: flex;
}

.present-nav__novedad{
    width: 130px;
    color: white;
    background-color: #9faa4d;
    font-size: 15px;
    font-weight: 1000;
    display: flex;
    line-height: 30px;
    text-align: center;
    margin-right: 6px;
}

.novedad__novedad-icon{
    width: 30px;
    height: 30px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -244px 4px no-repeat;
}

.present-nav__ofertas{
    margin-right: 6px;
    width: 130px;
    color: white;
    font-size: 15px;
    font-weight: 1000;
    display: flex;
    line-height: 30px;
    text-align: center;
    background-color: #8e789d;
}

.ofertas__ofertas-icon{
    margin-right: 8px;
    width: 30px;
    height: 30px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -274px 4px no-repeat;
}

.present-nav__button{
    width: 49px;
    height: 30px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -303px 2px no-repeat #BBB8B6;
    border: 1px solid #bbb8b6;
}

.present-nav__searcher{
    width: 225px;
    color: #bbb8b6;
    border: 1px solid #bbb8b6;
    padding: 5px;
}

.menu-choices__utils{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 5px;
}

.utils__image{
    width: 100px;
    height: 105px;
    background-position: center;
    background-color: #f2f2f2;
    background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/utensiliosML.png);
    background-repeat: no-repeat;
    background-size: 50%;
}

.utils__image:hover{
    background-color: #FF5959;
}

.menu-choices__ingredients{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 5px;
}

.ingredients__image{
    width: 100px;
    height: 105px;
    background-position: center;
    background-color: #f2f2f2;
    background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/magdalena.png);
    background-repeat: no-repeat;
    background-size: 50%;
}

.ingredients__image:hover{
    background-color: #FF5959;
}

.menu-choices__parties{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 5px;
}

.partiess__image{
    width: 100px;
    height: 105px;
    background-position: center;
    background-color: #f2f2f2;
    background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/tarta-cumpleanos.png);
    background-repeat: no-repeat;
    background-size: 50%;
}

.partiess__image:hover{
    background-color: #FF5959;
}

.menu-choices__brands{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.brands__image{
    width: 100px;
    height: 105px;
    background-position: center;
    background-color: #f2f2f2;
    background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/delantal.png);
    background-repeat: no-repeat;
    background-size: 70%;
}

.brands__image:hover{
    background-color: #FF5959;
}

.menu-choices__blog{
    margin-left: 58px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color:#ff5959;
}

.blog__image{
    background-color: #FF5959;
    background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/menu.svg);
    background-repeat: no-repeat;
    background-position: -320px 0px;
    width: 100px;
    height: 105px;
    background-size: 560px;
    line-height: 50px;
}

.blog__image:hover{
    background-color: #f2f2f2;
}

.quick-access__choices{
    display: flex;
    justify-content: space-between;
}

.main-body{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 115px;
}

.main-body__header-decoration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-decoration__cake-icon{
    width: 100px;
    height: 105px;
    background-position: center;
    background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/tarta-cumpleanos.png);
    background-repeat: no-repeat;
    background-size: 70%;
    margin-top: -57px;
}

.header-decoration__line-decorative{
    width: 165px;
    height: 1px;
    background-color: black;
}

.header-decoration__title-party{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 1000;
}

.main-body__image-container{
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.image-container__photo-container{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.photo-container-one{
    width: 400px;
    height: 200px;
    background: url(https://i.ibb.co/44VFbs8/1395303551174328320-E10d-Lw-GWEAAkd-TK.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #68645f;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}


.rectangle{
    width: 190px;
    height: 105px;
    background-color: white;
    opacity: 0.8;
}

.triangle{
    width: 0;
    height: 0;
    border-bottom: 105px solid white;
    border-right: 55px solid transparent;
    opacity: 0.8;
}

.photo-container-one__text{
    color: #67635F;
    font-size: 14px;
    font-size: 12px;
    padding-left: 12px;
    max-width: 199px;
}

.party-themed{
    margin-top: 11px;
    font-weight: 600;
}

.paper{
    margin-top: 11px;
}

.photo-container-two__text{
    color: #67635F;
    font-size: 14px;
    font-size: 12px;
    padding-left: 12px;
    max-width: 199px;
}

.photo-container-three__text{
    color: #67635F;
    font-size: 14px;
    font-size: 12px;
    padding-left: 12px;
    max-width: 199px;
}

.photo-container-two{
    width: 400px;
    height: 200px;
    background: url(https://i.ibb.co/vvpbnZt/1405118768934801409-E3-8-EXh-UYAEDjob.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #68645f;
    display: flex;
    align-items: flex-end;
}

.image-container__vertical-photo{
    width: 400px;
    height: 400px;
    background: url(https://i.ibb.co/6v3cBdn/1408006016399204353-E4o-AVGWUAUgh2-F.jpg);
    background-repeat: no-repeat;
    background-size: 200%;
    display: flex;
    align-items: flex-end;
}

.main-body__button{
    width: 84px;
    height: 35px;
    margin-top: 30px;
    color: white;
    background-color:#ff5959;
    border: none;
    padding: 10px;
}

.footer-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-main__brands{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 790px;
}

.brands_image{
    max-height: 75px;
    margin: 10px;
    margin-top: 50px;
    filter: grayscale(100%);
}

.brands_image:hover{
    filter: none;
}

.footer-main__delivery{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #E8E6E5;
    height: 300px;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.delivery{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.delivery__truckfig{
    margin: 0 auto;
    width: 85px;
    height: 60px;
    margin-bottom: 10px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0 -38px no-repeat transparent;
}

.delivery__clockfig{
    margin: 0 auto;
    width: 55px;
    height: 60px;
    margin-bottom: 10px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -90px -38px no-repeat transparent;
}

.delivery__cardfig{
    margin: 0 auto;
    margin-bottom: 10px;
    width: 68px;
    height: 60px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -150px -36px no-repeat transparent;
}

.delivery__creditcardfig{
    margin: 0 auto;
    margin-bottom: 10px;
    width: 77px;
    height: 60px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -223px -38px no-repeat transparent;
}

.delivery__truck, .delivery__clock, .delivery__card, .delivery__creditcard{
    font-size: 12px;
    line-height: 19px;
    color: #67625f;
    text-align: center;
    margin: 5px;
}

.footer-main__aboutus{
    background-color:#F8F8F8;
    width: 100%;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.aboutus__follow{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 1px solid #67625f;
}

.follow-header{
    font-size: 12px;
    line-height: 19px;
    color: #67625f;
    text-align: left;
    margin-bottom: 20px;
}

.follow-fig{
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0 -494px transparent;
    height: 32px;
    width: 236px;
}

.aboutus_email{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 19px;
    color: #67625f;
    text-align: left;
    margin: 20px;
    border-right: 1px solid #67625f;
    padding-right: 16px;
}

.email-header{
    margin-bottom: 10px;
}

.policity-check{
    display: flex;
}

.policity-word{
    margin-left: 10px;
    line-height: 12px;
    margin-top: 10px;
}

.checkbox-check{
    border-radius: 0;
    color: gray;
    margin-top: 10px;
}

.aboutus_input{
    width: 225px;
    color: #bbb8b6;
    border: 1px solid #bbb8b6;
    padding: 5px;
}

.input__button{
    color: white;
    background-color: #ff5959;
    border: none;
    height: 29px;
    font-weight: 600;
}

.input__button:hover{
    background-color: rgba(229, 89, 89, 0.5);
}

.header-contact-container{
    color: #FF5959;
    font-size: 14px;
    line-height: 32px;
    margin-left: 10px;
}

.contact-fig{
    width: 30px;
    height: 31px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0 -207px no-repeat;
}

.aboutusfig{
    width: 30px;
    height: 31px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0 -246px no-repeat;
}

.conditionsfig{
    width: 30px;
    height: 31px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0 -285px no-repeat;
}

.container-about{
    display: flex;
    margin: 5px;
}

.container-about-header{
    display: flex;
    flex-direction: column;
}

.footer-main__bottom{
    color: white;
    line-height: 50px;
    height: 50px;
    background-color: #ff5959;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 600px){
     .hidden{
        display:none;
    }

    .nav-fixed__mobile{
        width: 30px;
        height: 19px;
        margin-top: 15px;
        margin-right: 30px;
        background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/burger_menu.png);
    }

    .nav-fixed__lens{
        width: 50px;
        height: 50px;
        background: #BBB8B6 url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -304px 12px no-repeat;
    }

    .nav-fixed__trolley{
        margin-left: 0;
    }

    .main-body__image-container{
        flex-direction: column;
        width: 416px;
        height: 600px;
        margin-top: 90px;
    }

    .main-header-mobile{
        width: 275px;
        height: 50px;
        margin-top: 90px;
        margin-bottom: 95px;
        background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/logo-small.svg) 0 0 no-repeat;
    }

    .main-header{
        align-items: center;
    }

    .photo-container-one{
        justify-content: flex-start;
    }

    .rectangle{
        height: 90px;
    }

    .party-themed{
        font-size: 22px;
    }

    .image-container__vertical-photo{
        background-size: 100%;
    }

    .footer-main__delivery{
        flex-wrap: wrap;
    }

    .footer-main__aboutus{
        flex-direction: column;
        padding-top: 50px;
        height: 100%;
        background-color: white;
    }

    .aboutus__follow{
        flex-direction: column;
        align-items: center;
        border-right: 0;
        padding-bottom: 30px;
        border-bottom: 1px solid #67625f;
    }

    .aboutus_email{
        border-right: 0;
        padding-bottom: 30px;
        border-bottom: 1px solid #67625f;
        align-items: center;
    }

    .container-about{
        flex-direction: column;
        align-items: center;
    }

    .button-mobile{
        color: white;
        background-color: #ff5959;
        border: none;
        height: 29px;
        font-weight: 600;
        width: 235px;
        margin-top: 20px;
    }
    
    .button-mobile:hover{
        background-color: rgba(229, 89, 89, 0.5);
    }
}

@media screen and (min-width: 600px){
    
    .button-mobile{
        display: none;
    }
}