<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yourList</title>
</head>
<body>
    <h1>yourList</h1>
    <h2>Log In:</h2>
    <form >
        <input type="email" name="userEmail" placeholder="email">
        <button type="submit" name="login" formmethod="POST" formaction="http://localhost:5001/user/">Log in</button>
    </form>
    <hr>
    <form >
        <h2>Sign Up</h2>
        <input type="email" name="userEmail" placeholder="email">
        <input type="text" name="userName" placeholder="name">
        <button type="submit" name="signup" formmethod="POST" formaction="http://localhost:5001/user"> Sign up</button>
        
    </form>
</body>
</html> 