*{
    margin: auto;
    text-align: center;
    
}
.wrapper{
    width:auto ;
    height:auto ;
    background-color: mediumorchid;
}
.menu1{
    margin-left: auto;
}
.pie{
    margin-right: 0%;
}
body{
    background-image:url(https://i.ibb.co/dgg415M/pattern.png)
}