*{
    margin: auto;
    text-align: center;
    padding: 10px;
}
.wrapper{
    width:auto ;
    height:auto ;
    background-color: mediumorchid;
}
.menu1{
    margin-left: auto;
}
.pie{
    margin-right: 0% !important;
}
body{
    background-image:url(https://i.ibb.co/dgg415M/pattern.png)
}
.menu{
    display: flex;
    flex-direction: column;
}