
.header{
    background-color: greenyellow;
    width: 100%;
    height: 10vh;
    color: blueviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}