body{

}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/*----------------------
    NAVIGATION BAR
-----------------------*/

.navigation-bar{
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.navigation-bar__image{
    width: 130px;
    height: auto;
}
.navigation-bar__item{
    font-family: NotoSans-Bold,Arial,sans-serif;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 0.9em;
}
.navigation-bar__item--grey{
    color: rgb(129, 129, 129);
}
.navigation-bar__item--yellow-button{
    background-color: #ffe300;
    border-radius: 2px;
    color: black;
    height: 40px;
    line-height: 40px;
    width: 130px;
    text-align: center;
}
.navigation-bar__item:hover{
    color: #ffe300;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown__content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}
.navigation-bar__item--drowpdown-list-item{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: black;
    font-weight: normal;
}
.dropdown:hover .dropdown__content {
    display: block;
}
.navigation-bar__search-box{
    height: 40px;
    padding: 0;
    text-rendering: auto;
    background-color: rgb(51, 51, 51);
    cursor: text;
    font-family: NotoSans-Bold,Arial,sans-serif;
    border: none;
    
    
}
input[type=text]:focus{
    background-color: white;
  }
  
/*----------------------
    NAVIGATION BAR
-----------------------*/

  .main-slider__images{
    animation: pictures 30s infinite ease-in-out;
    width: 100vw;
    height: 30vw;
    background-image: url(https://static3.marialunarillos.com/media/custom/advancedslider/resized/slide-5c2f5c6c4d1de-png/1080X600.png);
    
}

@keyframes pictures {
    0% {background: url(https://images-3.wuaki.tv/system/images/8894/original/hasta-el-cielo-1625479330-width1920-quality80.jpeg);
    background-size: 100vw;}
    12% {background: url(https://images-0.wuaki.tv/system/images/8893/original/inmune-1625479302-width1920-quality80.jpeg);
    background-size: 100vw;}
    24% {background: url(https://images-1.wuaki.tv/system/images/8814/original/fast-and-furious-promo-1624866349-width1920-quality80.jpeg);
    background-size: 100vw;}
    36% {background: url(https://images-3.wuaki.tv/system/images/8813/original/nomadland-1624866195-width1920-quality80.jpeg);
    background-size: 100vw;}
    48% {background: url(https://images-3.wuaki.tv/system/images/8851/original/minari-1625124784-width1920-quality80.jpeg);
    background-size: 100vw;}
    60% {background: url(https://images-2.wuaki.tv/system/images/4773/original/starzplay-generic-vis-reg-1621952935-width1920-quality80.png);
    background-size: 100vw;}
    72% {background: url(https://images-2.wuaki.tv/system/images/8563/original/bvb-dortmund-1622099617-width1920-quality80.png);
    background-size: 100vw;}
    84% {background: url(https://images-2.wuaki.tv/system/images/150/original/rtv-suscripcion-generic-slider-vis-reg-1614848906-width1920-quality80.png);
    background-size: 100vw;}
    100% {background: url(https://images-3.wuaki.tv/system/images/8894/original/hasta-el-cielo-1625479330-width1920-quality80.jpeg);
    background-size: 100vw;}
}
