
*{
    border: 0;
    margin: 0;
    color: white;
    font-family: 'Noto Sans', sans-serif;
   
}
.header{
    display: flex;
    flex-direction: column;
}
.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 5vw;
    width: 100vw;
}
.nav__main{
    display: flex;
    flex-direction: row;
    height: 10vw;
    align-items: center;
}
.nav__right{
    display: flex;
    flex-direction: row;

}
.logo__img{
    height: 5vw;
}
.triangulo::after{
    content: " ▼";
}
.triangulo:hover::after{
    content: " ▲";
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    font-size: 1.3vw;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    
}
.dropdown-content a {
    color: black;
    color: white;
    padding: 12px 16px;
    font-size: 1vw;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    color: #F0D500;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    color: #F0D500 ;
}
.nav__gratis{
    font-size: 1.3vw;
}
.nav__search{
    background-color: #333333;
    height: 4vw;
    width: 25vw;
    display: flex;
    justify-content: flex-start;
    border-radius: 2px;
    position:relative;
}

 input[type="text"]{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 30vw;
}
.search__search:focus {
    background-color: white;
    color: black;
}

.nav__right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}
.right__entrar{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}
.right__registrarse{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 3vw;
    border-radius: 2px;
    background-color: #F0D500;
}
.right__registrarse p{
    color: black;
    padding: 1vw;
}
.contaioner__photo{
    width: 100vw;
    height: 30vw;
}
.main-photo{
    background-color: #171717
}
.main{
    background-color: #171717;
    height: 20vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: initial;
}
.film{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: initial;
    
    height: 15vw;
    width: 95vw;
}
.film__container{
    padding: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    width: 95vw;
    
}
.film__photo{
    display: flex;
    width: auto;
    height: 13vw;
    padding: 0.3vw;
     
}
.film__photo:hover{
    outline: 0.4vw solid #F0D500;
    outline-offset: -0.75vw ;
}