.card-item__container{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    align-items: center;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 30px;
    img{
        height: 150px;
        width: fit-content;
    }
    figcaption{
        margin: 10px;
    }
}