@import '../../styles/variables';
@import '../../styles/reset';
@import '../../styles/mixins';

.leagues__container {
    padding: 4rem 0;

    form{
        width: fit-content;
        margin: 0 auto;
    }
    
    .leagues{
        width: 90vw;
        margin: 0 auto;
        list-style: none;

        .leagues__block{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2rem;
            color: white;
            min-width: 300px;

            .leagues__country{
                width: 100%;
                padding: 1.2rem 0.5rem;
                text-align: center;
                background-color: $body-clear-background;
                list-style: none;
                border-top-right-radius: 1rem;
                border-top-left-radius: 1rem;
                margin-bottom: 0.2rem;
                color: black;
                font-weight: bolder;
                letter-spacing: 2px; 
            }
    
            .leagues__all-leagues{
                width: 80%;
                padding: 0;
                list-style: none;
                display: flex;
                flex-direction: column;

              
                .leagues__league{
                    background-color: $leagues-background-color;
                    margin-bottom: 0.3rem;
                    padding: 0.2rem 0.5rem;
                    border-radius: 0.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    transition: .3s;

                    &:hover{
                        background-color: $hover-color;
                    }

                    &--top {
                        background-color: $leagues-background-color-favourite;
                        order: -1;

                        &:hover {
                            background-color: $leagues-background-color-favourite-hover;
                        }
                    }

                    a {
                        @include anchor;
                        display: flex;
                        align-items: center;
                        flex-grow: 1;
                    }
                    
                    .leagues__badge{
                        @extend %small-logo;
                    }

                    .leagues__name {
                        @extend %league-name;
                        font-weight: 700;
                    }

                    .leagues__favourite-button {
                        background-color: transparent;
                        border: none;
                        color: white;

                        &:hover {
                            color: lightgrey;
                        }

                        &--active {
                            color: $favourite-color;
    
                            &:hover {
                                color: $main-color;
                            }
                        }

                        i {
                            pointer-events: none;
                        }
                    }

                }
            }
        }
    }
}

