*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: url(https://i.ibb.co/dgg415M/pattern.png);
}
.header{
    background-color: #A593C2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 12vw;
    font-weight: bold;

}
.Browse{
    font-size: 3vw;
}
.photo-logo{
    margin-left: 5vw;

}
.header-navegator{
    display: flex;
    flex-direction: row;
    padding: 10px;

}
.nav-div{
    color: white;
    padding: 10px;
}
.main-container{
    display: flex;
    height: 250vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
.main-navegator{
    display: flex;
    justify-content: space-between;
    width: 30vw;
}
.main-ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    
    height: 27vw;
    width: 100%;
    
    
}
.main-li{
    background-color: brown;
   text-align: center;
    height: 5vw;
    
}
.bethany-photo{
    width: 70vw;
    height: 40vw;
    
}
.article-title{
    align-self: baseline;
    font-size: 5vw;
    color: #A593C2;
}
.article-subtitle{
    align-self: baseline;
}
.section-article {
    width: 70vw;
    height: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
footer{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.contact{
    margin: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.promotions-box{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    border-radius: 5vw;
    width: 70vw;
    height: 50vw;
    padding: 3vw;
}


.cheese-cake-photo{
    
    width: 64vw;
    height: 30vw;
}
