.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty {
    height: 47.1em;
}

.film-miniature {
    width: 100%;
    height: 50em;
    background: black url(https://images-2.wuaki.tv/system/shots/195811/original/snapshot-1590664794-width1920-quality80.jpeg);
    background-size: 150vw;
    background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.film-miniature__buttons {
    display: flex;
    margin-bottom: 25em;
}

.film-miniature__buttons div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.film-miniature__buttons div button {
    width: 5em;
    height: 5em;
    background-color: #000000B3;
    border: none;
    border-radius: 50%;
    margin: 0 1.5em;
}

.film-miniature__buttons div small {
    margin-top: 1em;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    text-shadow: black 1px 1px;
    width: 8em;
    text-align: center;
}

.film-miniature__buttons div button:hover i {
    color: yellow;
}

.film-miniature__buttons div button i {
    color: white;
}

.film-miniature__imdb {
    color:#F5C518;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.film-miniature__title {
    color: white;
    letter-spacing: 1px;
    font-size: 2em;
    margin-bottom: 2em;
    font-weight: bold;
}

.film-miniature__watch {
    margin-bottom: 4em;
    width: 80vw;
    height: 4.5em;
    background-color: #FFE300;
    border: none;
    font-weight: bold;
}

.film-miniature__watch:hover {
    background-color: #ddc300;
}

.flex {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.social {
    width: 100%;
    height: 6em;
    background-color: rgb(231, 231, 231);
    border-top: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social button {
    width: 4em;
    height: 4em;
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    margin: 0 0.2em;
}

.film-description {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.film-description__detail {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 1em 2em;

}

.film-description__detail li {
    margin-right: 1em;
    font-weight: bold;
    font-size: 0.75em;
}

.film-description__detail li i{
    margin-right: 0.3em;
}


@media screen and (min-width: 1024px){
    .wrapper {
        max-width: 90vw;
    }

    .film-miniature {
        width: 90vw;
        height: 40em;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    
    .film-miniature__buttons {
        margin-bottom: 12em;
    }
    
    .film-miniature__buttons div button {
        width: 7em;
        height: 7em;
    }
        
    .film-miniature__title {
        font-size: 2.3em;
        margin-bottom: 0.5em;
    }
    
    .film-miniature__watch {
        margin-bottom: 3em;
        width: 20em;
        height: 4.5em;
    }

    .empty {
        display: none;
    }
    
    
}