* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: NotoSans-Bold,Arial,sans-serif;
}

.main-container {
    background-color: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 45px;
    background-color: transparent;
}

.header-container__navigator-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
}

.header-container__navigator {
    display: none;
    width: 95vw;
    max-width: 105em;
}

.films-navigator {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.films-navigator a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    display: flex;
    align-items: center;
}
.films-navigator__free:hover a, 
.films-navigator__cinema:hover a, 
.films-navigator__subscriptions:hover a {
    color: yellow;
    transition: color 0.2s;
}

.films-navigator__icon {
    display: block;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e5/Rakuten_TV_logo.svg);
    background-repeat: no-repeat;
    background-position: 0 5px;
    width: 122px;
    height: 37px;
}

.films-navigator__menu {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 315px;
}

.films-navigator__triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 4px 0 4px;
    border-color: #ffff transparent transparent transparent;
    margin-left: 5px;
}

.films-navigator__subscriptions:hover .films-navigator__triangle,
.films-navigator__cinema:hover .films-navigator__triangle {
    border-width: 0 4px 8px 4px;
    border-color: yellow transparent yellow transparent;
    transition: border-color 0.2s;
}

.cinema__menu,
.subscriptions__menu {
    display: none;
    height: 0px;
    width: 40px;
    list-style: none;
}

.cinema__menu li,
.subscriptions__menu li {
    background-color: black;
    color: white;
    width: 170px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
    padding-left: 10px;
}

.cinema__menu li:hover,
.subscriptions__menu li:hover {
    color: yellow;
}

.cinema:hover ul,
.subscriptions:hover ul {
    display: block;
}

.films-navigator__search {
    display: flex;
    align-items: center;
}

.search__icon {
    width: 5px;
    height: 40px;
    color: #ccc;
    position: relative;
    z-index: 10;
    line-height: 40px;
    left: 20px;
}

.search__icon--white {
    color: white;
}

.search__input {
    background-color: #333333;
    padding: 10px 10px 10px 40px;
    width: 260px;
    height: 40px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #ccc;
    border: none;
    border-radius: 2px;
}

.search__input:focus {
    background-color: white;
    outline: none;
}

.navigator__login-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigator__login-container a {
    height: 36px;
    line-height: 36px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    padding: 0 8px;
    margin: 0 5px;
}

.navigator__login-container a:hover {
    color: yellow;
    transition: color 0.2s;
}

.login-container__help {
    display: none;
    color: #999;
}

.login-container__login {
    color: #fff;
}

.login-container__register {
    background-color: #FFE300;
    border-radius: 2px;
    color: #252525;
}

.login-container__register:hover {
    background-color: #e2c801;
    color: #252525 !important;
    transition: background-color 0.2s;
}

/*CAROUSEL*/

@keyframes tonext {
    75% {
        left: 0;
    }
    95% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    99% {
        left: 0;
    }
}

@keyframes tostart {
75% {
    left: 0;
}
95% {
    left: -300%;
}
98% {
    left: -300%;
}
99% {
    left: 0;
}
}

@keyframes snap {
96% {
    scroll-snap-align: center;
}
97% {
    scroll-snap-align: none;
}
99% {
    scroll-snap-align: none;
}
100% {
    scroll-snap-align: center;
}
}

.carousel {
display: block;
position: absolute;
top: 0;
padding-top: 37vw;
width: 100vw;
height: 40vw;
background-color: #171717;
}

.carousel__viewport {
list-style: none;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
display: flex;
overflow-x: scroll;
scroll-behavior: smooth;
scroll-snap-type: x mandatory;
height: 100%;
}

.carousel__slide {
position: relative;
flex: 0 0 100%;
width: 100%;
}

.carousel__slide:before {
position: absolute;
transform: translate3d(-50%,-40%,70px);
color: #fff;
font-size: 2em;
}

.carousel__snapper {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
scroll-snap-align: center;
}

@media (hover: hover) {
.carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
}
}

@media (prefers-reduced-motion: reduce) {
.carousel__snapper {
    animation-name: none;
}
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
animation-name: none;
}

* {
scrollbar-color: transparent transparent; /* thumb and track color */
scrollbar-width: 0px;
}

*::-webkit-scrollbar {
width: 0;
}

*::-webkit-scrollbar-track {
background: transparent;
}

*::-webkit-scrollbar-thumb {
background: transparent;
border: none;
}

* {
-ms-overflow-style: none;
}

.carousel__navigation {
position: absolute;
padding: 0 45vw;
right: 0;
left: 0;
text-align: center;
width: 100%;
}

.carousel__navigation-list,
.carousel__navigation-item {
display: flex;
justify-content: space-around;
list-style: none;
}

.carousel__navigation-button {
display: inline-block;
width: 1rem;
height: 1rem;
background-color: #fff;
opacity: 0.25;
background-clip: content-box;
border: 0.25rem solid transparent;
border-radius: 50%;
font-size: 0;
transition: transform 0.1s;
}

.carousel__navigation-button:active {
opacity: 1;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
position: absolute;
margin: 0 15vw;
margin-top: 20vw;
top: 0;
width: 2rem;
height: 2rem;
transform: translateY(-50%);
border-radius: 50%;
font-size: 0;
opacity: 0.5;
}

.carousel::after,
.carousel__next {
display: block;
right: -1rem;
}

.carousel::before,
.carousel::after {
content: '';
z-index: 1;
color: #fff;
pointer-events: none;
}

.carousel::before {
background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

#carousel__slide1,
#carousel__slide2,
#carousel__slide3,
#carousel__slide4 {
display: block;
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}

#carousel__slide1 {
background-image: url(https://images-3.wuaki.tv/system/images/8894/original/hasta-el-cielo-1625479330-width1920-quality80.jpeg);

}

#carousel__slide2 {
background-image: url(https://images-0.wuaki.tv/system/images/8893/original/inmune-1625479302-width1920-quality80.jpeg);

}

#carousel__slide3 {
background-image: url(https://images-1.wuaki.tv/system/images/8814/original/fast-and-furious-promo-1624866349-width1920-quality80.jpeg);

}

#carousel__slide4 {
background-image: url(https://images-3.wuaki.tv/system/images/8813/original/nomadland-1624866195-width1920-quality80.jpeg);

}

/*END CAROUSEL*/
.scrollable {
    width: 100vw;
    margin-top: 35vw;
}

.scrollable__title {
    color: white;
    position: relative;
    margin: 3vw 0 0.5vw 1vw;
    font-size: 3.7vw;
}

.scrollable--vertical {
    margin-top: 0;
}

.scrollable__list,
.scrollable__list-vertical {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scrollbar-width: 0;
    scrollbar-color: transparent transparent;
}

.scrollable__list::-webkit-scrollbar {
    display: none;
}

.scrollable__item {
    margin: 0 0.5vw;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 100%;
    scroll-snap-align: center;
}

.scrollable__item a {
    display: block;
    background-size: 100%;
    width: 60vw;
    height: 37vw;
    border: 1vw solid #171717;
}

.scrollable__item a:hover {
    border: 1vw solid yellow;
}

.scrollable__empty a {
    display: block;
    width: 30vw;
    height: 35vw;
}

#scrollable__item1 a{
    background-image: url(https://images-2.wuaki.tv/system/images/7170/original/highlights-video-july-2021-1625123289-width308-quality80.jpeg);
}

#scrollable__item2 a{
    background-image: url(https://images-3.wuaki.tv/system/images/5166/original/cinema-generic-middle-banner-1624981151-width308-quality80.jpeg);
}

#scrollable__item3 a{
    background-image: url(https://images-3.wuaki.tv/system/images/5673/original/free-generic-middle-1622099920-width308-quality80.png);
}

#scrollable__item4 a{
    background-image: url(https://images-2.wuaki.tv/system/images/4819/original/starzplay-generic-reg-vis-ui30-1621953241-width308-quality80.png);
}

#scrollable__item5 a{
    background-image: url(https://images-2.wuaki.tv/system/images/8815/original/fast-and-furious-promo-3-0-1624866397-width308-quality80.png);
}

.scrollable__item--vertical a {
    width: 40vw;
    height: 55vw;
    background-image: url(https://images-0.wuaki.tv/system/artworks/26653/original/dying-of-the-light-1611333563-width217-quality80.jpeg);
}

.scrollable__buttons-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    height: 0px;
    margin: auto;
    bottom: 18vw;
}

.scrollable__back-button {
    color: white;
    background-size: cover;
    width: 20px;
    height: 40px;
    z-index: 10;
    background-color: transparent;
    border: none;
    visibility: hidden;
}

.scrollable__next-button {
    color: white;
    background-size: cover;
    width: 20px;
    height: 40px;
    z-index: 10;
    background-color: transparent;
    border: none;
}

.scrollable__buttons-container--vertical {
    position: absolute;
    top: 115vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    height: 0px;
    margin: 0 10vw;
    bottom: 0;
}

.overlay {
    display: none;
    align-items: center;
    position: relative;
    width: 30vw;
    left: 11vw;
    bottom: 18vw;
    z-index: 20;
    cursor: pointer;
}

.overlay__triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1vw 2vw 1vw 0;
    border-color: transparent #171717 transparent transparent;
}

.overlay__box {
    width: 100%;
    height: 18vw;
    border-top: 1px solid grey;
    border-bottom: 1px solid black;
    background-image: url(https://tvline.com/wp-content/uploads/2018/02/tv-too-dark-walking-dead-vest.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.overlay__title {
    color: white;
    font-size: 2vw;

}

.overlay__trailer,
.overlay__add {
    background-color: black;
    color: white;
    padding: 0 2vw;
    height: 2.5vw;
    font-size: 0.75vw;
    border: 2px solid white;
    border-radius: 1.25vw;
}

.overlay__trailer:hover,
.overlay__add:hover {
    color: yellow;
    padding: 0 2vw;
    height: 2.5vw;
    font-size: 0.75vw;
    border: 2px solid yellow;
    border-radius: 1.25vw;
}

.overlay__trailer i,
.overlay__add i {
    margin-right: 1vw;
}

.overlay__film-type {
    margin-top: 1vw;
    font-size: 0.75vw;
    color: lightgray;
}

.overlay__description {
    font-size: 1vw;
    color: lightgray;
    text-align: center;
}

.overlay__price {
    font-size: 0.75vw;
    color: yellow;
    font-weight: 600;
}

.scrollable__item--vertical:hover .overlay{
    display: none;
}

.footer {
    background-color: #0D0D0D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10vw;
}

.footer__links-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.footer__links-container  li{
    margin: 0 5px;
}

.footer__links-container  li a{
    color: #CCCCCC;
    text-decoration: none;
    font-size: 15px;
}

.footer__text {
    color: #737373;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
}
  

@media screen and (min-width: 1024px){
    .main-container {
        height: 90vw;
    }

    .header-container {
        background-color: black;
        height: 60px;
    }

    .navigator-mobile {
        display: none;
    }

    .header-container__navigator {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .carousel{
        padding-top: 28vw;
        height: 30vw;
        position: relative;
    }

    .carousel::before,
    .carousel::after,
    .carousel__prev,
    .carousel__next {
      margin-top: 15vw;
    }

    .scrollable {
        margin-top: 0;
    }

    .scrollable__list {
        justify-content: space-around;
    }

    .scrollable__item a {
        width: 18vw;
        height: 12vw;
        border: 0.5vw solid #171717;
    }

    .scrollable__item a:hover {
        border: 0.5vw solid yellow;
    }
    
    .scrollable__empty a {
        display: none;
    }

    
    .scrollable__buttons-container {
        display: none;
    }

    .scrollable__item--vertical {
        width: 13vw;
    }
    
    .scrollable__item--vertical a {
        width: 13vw;
        height: 17.5vw;
    }

    .scrollable__buttons-container--vertical {
        display: flex;
        width: 90vw;
        top: 60vw;
        margin: 0 5vw;
    }

    .scrollable__title {
        font-size: 1.5vw;
    }

    .scrollable__item a:hover {
        border: 0.5vw solid yellow;
    }

    .scrollable__item:hover .overlay{
        display: flex;
    }
}


@media screen and (min-width: 1250px){
    .login-container__help {
        display: unset;
    }
}