*{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

a, button{
    cursor: pointer;
    text-decoration: none;
}

li{
    list-style-type: none;
}

body{
    background-color: black;
}

.main-header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background-color: black;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

.main-header__empty-container{
    flex-grow: 1;

}

.main-header__logo{
    width: 130px;
    height: 34px;
}

.first-container__link{
    display: flex;
}

.first-container__link-dropdown:hover > .link-dropdown__submenu{
    display: block;
}

.triangle::after{
    content: " ▾";
}

.triangle:hover::after{
    content: " ▴";
}

.link-dropdown__submenu{
    display: none;
    position: absolute;
    padding: 25px 0px 15px 10px;
    background-color: black;
    z-index: 1;
    font-weight: lighter;
}

.submenu-link{
    margin-top: 5px;
    margin-bottom: 10px;
}

.link__header-link{
    color: white;
    text-decoration: none;
    margin: 10px;
}

.link__header-link:hover{
    color: gold;
}

.main-header__button{
    color: black;
    background-color: #F0D500;
    border: 0;
    width: 113px;
    height: 36px;
    border-radius: 5%;
    font-weight: bold;
    margin-right: 25px;
}

.main-header__container-searcher{
    display: flex;
}

.main-header__searcher{
    background: #333 url(https://i.ibb.co/3FQJHd8/lupa.png) no-repeat scroll 7px 5px;
    color: #ccc;
    font-size: 17px;
    border: none;
    border-radius: 3%;
    height: 70%;
    font-weight: lighter;
    padding-left:30px;
}

.main-header__searcher:focus{
    background-color: white;
}

.main-container{
    display: flex;
    flex-direction: column;
}

.mini-views{
    margin-top: 300px;
    display: flex;
    justify-content: center;
}

.mini-view__img{
    margin: 10px;
    max-width: 285px;
    max-height: 185px;
}

.mini-view__img:hover{
    outline: 5px solid gold;
}

.mini-views-vertical{
    display: flex;
    justify-content: center;
}

.mini-view-vertical__img{
    margin: 10px;
}

.mini-view-vertical__img:hover{
    outline: 5px solid gold;
}

.footer-company{
    display: flex;
    flex-direction: column;
}

.footer-about{
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-about a{
    color: #737373;;
    font-size: 14px;
}

.footer-about a:hover{
    color: white;
}

.copyright{
    color: #737373;
    margin: 10px;
    margin-left: 30px;
    margin-bottom: 50px;
}