.header{
    width: 100%;
    height: 200px;
    .header__title{
        width: 100%;
        height: 100px;
        background-color: rgb(132, 199, 253);
    }
    .header__user-info{
        width: 100%;
        height: 100px;
        background-color: rgb(226, 223, 223);
    }
}