*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    
}

h1, h2{ 
    display: none;
}

/*HEADER*/
.header{}


.header__links-group{}

.links-group__friends-site{}

.friends--sites__home{
    display: block;
    width: 70px;
    height: 125px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/maria-lunarillos.png) #FF5959 bottom center no-repeat;
}

.friends--sites__cocute{
    display: block;
    width: 70px;
    height: 70px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/cucute.png) #6199AF bottom center no-repeat;
}

.friends--site__mamuchu{
    display: block;
    width: 70px;
    height: 70px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/mumuchu.png) #F6B436 bottom center no-repeat;
}

.links-group__login img{
    width: 27px;
    height: 27px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg);
}
.links-group__social-media{}

.social-media__facebook{}

.social-media__twiter{}

.social-media__insta{}

.social-media__pinteres{}

.social-media__youtube{}

.links-group__search-buy{}

.search-buy__magnifying {
    display: block;
    width: 50px;
    height: 50px;
    background: #BBB8B6 url("https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg") -304px 12px no-repeat;
}

.search-buy__cart {
    display: block;
    width: 50px;
    height: 50px;
    background: #fff url("https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg") -66px 10px no-repeat;
}

.search-buy__cart_items {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #ff5959;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.header__site-logo{}

.header__search-section{}

.search-section__products{}

.products__news{}

.products__oferts{}

.products__search-btn{}

.products__search-bar{}

.search-section__type{}

.type__tools{}

.type__ingredients{}

.type__partys{}

.type__brands{}

.type__blog{}

/*SERVICES*/

.services{}

.services__header{}

.services__container{}

.container__tematicas{}

.container__personajes{}

.container__accesorios{}

.services__add-more{
    background: #FF5959;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 1px;
    border: 0;
}

/*BRANDS*/
.brands{}
.brands__partners{
    filter: grayscale(100%);
}
.brands__add-more{
    background: #FF5959;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 1px;
    border: 0;

}
/*TRANSPORT-INFO*/
.transport-info{
    display: flex;
    justify-content: space-evenly;
    height: 120px;
    margin: 0 auto 25px;
    background: #e8e6e5;
}

.transport-info__cost{
    width: 87px;
    height: 64px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0 -38px no-repeat transparent;
}

.transport-info__time {
    width: 58px;
    height: 64px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0 -38px no-repeat transparent;
    background-position: -90px -109px;
}

.transport-info__returns {
    width: 68px;
    height: 60px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0 -38px no-repeat transparent;
    background-position: -150px -36px;
}

.transport-info__cash a{
    width: 77px;
    height: 60px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0 -38px no-repeat transparent;
    background-position: 223px -38px
}

/*CONTACT-INFO*/
.contact-info{}

.contact-info__social-media{

}

.social-media__facebook--footer{
    display: block;
    width: 36px;
    height: 35px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0 0 no-repeat transparent;
    background-position: 2px -492px;
}

.social-media__twiter--footer{
    display: block;
    width: 36px;
    height: 35px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0 0 no-repeat transparent;
    background-position: -34px -492px;  
}

.social-media__insta--footer{
    display: block;
    width: 36px;
    height: 35px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0 0 no-repeat transparent;
    background-position: -69px -492px;
}

.social-media__pinteres--footer{
    display: block;
    width: 36px;
    height: 35px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0 0 no-repeat transparent;
    background-position: -104px -492px;
}

.social-media__youtube--footer{
    display: block;
    width: 36px;
    height: 35px;
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0 0 no-repeat transparent;
    background-position: -175px -492px;
}

.contact-info__news-letter form input{
    height: 40px;
    line-height: 40px;
    width: 100%;
    background: #FF5959;
    color: #fff;
    border: none;
    cursor: pointer;
}


.contact-info__about{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.about__contact{
    
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0 -207px no-repeat;
    display: list-item;
    width: 30px;
    height: 31px;
}

.about__us{
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0 -246px no-repeat;
    display: block;
    width: 30px;
    height: 31px;
}

.about__conditions{
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0 -285px no-repeat;
    display: block;
    width: 30px;
    height: 31px;
}

/*COPYRIGHT*/
.copyright{
    background: #FF5959;
    text-align: center;
    color: #fff;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
}
/*MAIL-FORM*/
.mail-form{
    height: 20px;
    width: 20px;
    background: #FF5959
}
