.comic__item{
    margin: 0.8%;
    filter: contrast(0.8);
}
.item__img{

    width: 100%;
    height: 100%;
    transition-duration: 0.5s;
    filter: grayscale(100%);
    transform: scale(1);
}
.item__img:hover{
    transform: scale(1.05);
    filter:none
}

.overflow{
    overflow: hidden;
}
.comic__row{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    a{
        text-decoration: none;
    }
}
.frame{
    pointer-events: none;
    width: 106%;
    height: 105%;
    position: absolute;
    top: -3%;
    left: -3%; 
}