<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo list webpage</title>
</head>
<body>
    <h1>ToDo List</h1>
    <% todos.map((data) => { %>
        <div>
            <p> <%= data.date %> </p> 
            <p> <%= data.task %> </p> 
            <button onclick="">X</button>
        </div>
        <%}) %>
        <button onclick="createTask()">Create one task</button>
        <input type="text" name="suneo" id="task">
    <script>
        
        let task =  document.getElementById('task');

        async function createTask(url='http://localhost:5500/api/todo/6120c2e53460d03b3f9a4bd8',
         data = { "task": `${task.value}`, "status": false}) 
         {
            const response = await fetch(url, {
                method: "PUT",
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(data),
            })
            return response.json();
         }
    </script>
</body>
</html>