* {
    margin: 0;
    padding: 0;
}
/* header-top */

.header-top {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100vw;
    background-color: rgb(200, 200, 200);
}

/* sign-in */

.header-top__sign-in {
    width: 150px;
    height: 50px;
    /*auxiliar*/
    border: 1px solid blue;
}

/* social-media */

.header-top__social-media {
    display: flex;
    flex-direction: row;
}

.header-top__social-media > li {
    width: 50px;
    height: 50px;
    /*auxiliar*/
    border: 1px solid blue;
}

/* shopping-cart */

.header-top__shopping-cart {
    display: flex;
    flex-direction: row;
}

.shopping-cart__link {
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
}

.shopping-cart__items {
    background-color: rgb(255, 89, 89);
    width: 50px;
    height: 50px;
}