$color-red:#FF2021;
$color-white:#FFFFFF;
$color-black:#0E0E18;
$color-off-white:#F8F4F1;
$mercedes: #00D2BE;
$red_bull: #0600EF;
$ferrari:#DC0000;
$mclaren:#FF9801;
$alpine:#0190FF;
$alphatauri:#2B4562;
$aston_martin:#006F62;
$williams:#015AFF;
$alfa:#900000;
$haas:#FFFFFF;