*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Myriad Pro", "Myriad Web", "Tahoma", "Helvetica", "Arial", sans-serif;
}

.header-container {
    display: flex;
    flex-direction: column;
    height: 10em;
}

.top-header {
    display: flex;
    justify-content: space-around;
    background-color: #F8F8F8;
    height: 50px;
}

.top-header__desktop-top-header{
    display: none;
}

.desktop-top-header__main-icons-container {
    width: 226px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.main-icons-container__icon-mall {
    width: 80px;
    height: 140px;
    background-color: #FF5959;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-icons-container__icon-cucute {
    width: 70px;
    height: 70px;
    background-color: #6199AF;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-icons-container__icon-mumuchu {
    width: 70px;
    height: 70px;
    background-color: #F6B436;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-icons-container__icon-cucute:hover,
.main-icons-container__icon-mumuchu:hover {
    height: 140px;
}

.top-header__navigator-top-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
}

.navigator-top-header__menu-button {
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/burger_menu.png) no-repeat center left;
    height: 50px;
    width: 50px;
    border: none;
}

.login-button__login-icon {
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0 0 no-repeat;
    margin: 11px;
    height: 27px;
    width: 27px;
}

.login-button__text{
    display: none;
    font-size: 12px;
    color: #2E2925;
}

.navigator-top-header__social {
    display: none;
    list-style: none;
}

.social li {
    width: 39px;
    height: 50px;
    padding: 15px;
}

.navigator-top-header__small-navigator {
    display: flex;
}

.small-navigator__search-button{
    background: #BBB8B6 url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -304px 12px no-repeat;
    height: 50px;
    width: 50px;
    border: none;
}

.small-navigator__cart{
    display: flex;
    font-size: 12px;
}

.cart-button__cart-icon {
    background: #ffff url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -66px 12px no-repeat;
    height: 50px;
    width: 50px;
}

.cart__cart-content {
    background-color: #FF5959;
    width: 50px;
    height: 50px;
    font-size: 20px;
    padding: 12px;
    color: white;
    text-align: center;
}

.bottom-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 325px;
}

@media screen and (min-width: 1023px) {
    .top-header__desktop-top-header{
        display: unset;
    }

    .navigator-top-header__menu-button {
        display: none;
    }

    .navigator-top-header__login-button {
        display: flex;
        align-items: center;
    }

    .login-button__text{
        display: unset;
    }

    .navigator-top-header__social {
        display: flex;
    }

    .small-navigator__search-button {
        display: none;
    }
}