*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Myriad Pro", "Myriad Web", "Tahoma", "Helvetica", "Arial", sans-serif;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-header-container {
    display: flex;
    justify-content: center;
    background-color: #F8F8F8;
    width: 100vw;
}

.top-header {
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.top-header__desktop-top-header{
    display: none;
}

.desktop-top-header__main-icons-container {
    width: 226px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.main-icons-container__icon-mall {
    width: 80px;
    height: 140px;
    background-color: #FF5959;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-icons-container__icon-cucute {
    width: 70px;
    height: 70px;
    background-color: #6199AF;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-icons-container__icon-mumuchu {
    width: 70px;
    height: 70px;
    background-color: #F6B436;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-icons-container__icon-cucute:hover,
.main-icons-container__icon-mumuchu:hover {
    height: 140px;
}

.top-header__navigator-top-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    max-width: 800px;
}

.navigator-top-header__menu-button {
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/burger_menu.png) no-repeat center left;
    height: 50px;
    width: 50px;
    border: none;
}

.login-button__login-icon {
    background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) 0 0 no-repeat;
    margin: 11px;
    height: 27px;
    width: 27px;
}

.login-button__text{
    display: none;
    font-size: 12px;
    color: #2E2925;
}

.navigator-top-header__social {
    display: none;
    list-style: none;
}

.social li {
    width: 39px;
    height: 50px;
    padding: 15px;
}

.social li a i{
    color: black;
}

.social li a i:hover{
    color: #FF5959;
}

.navigator-top-header__small-navigator {
    display: flex;
}

.small-navigator__search-button{
    background: #BBB8B6 url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -304px 12px no-repeat;
    height: 50px;
    width: 50px;
    border: none;
}

.small-navigator__cart{
    display: flex;
    font-size: 12px;
}

.cart-button__cart-icon {
    background: #ffff url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -66px 12px no-repeat;
    height: 50px;
    width: 50px;
}

.cart__cart-content {
    background-color: #FF5959;
    width: 50px;
    height: 50px;
    font-size: 20px;
    padding: 12px;
    color: white;
    text-align: center;
}

.mid-header {
    display: none;
    height: 120px;
    width: 1000px;
}

.mid-header__quick-access {
    display: flex;
    justify-content: space-between;
    width: 265px;
    list-style: none;
}

.quick-access li a {
    font-family: sans-serif;
    color: white;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
}

.quick-access li a span {
    width: 95%;
    text-align: center;
}

.quick-access__news {
    background-color: #9FAA4D;
    width: 130px;
}

.quick-access__news a {
    display: flex;
    align-items: center;
}

.quick-access__news a i{
    display: block;
    width: 30px;
    height: 30px;
    background:  url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -244px 4px no-repeat;
}

.quick-access__offers {
    background-color: #8E789D;
    width: 130px;
}

.quick-access__offers a {
    display: flex;
    align-items: center;
}

.quick-access__offers a i{
    display: block;
    width: 30px;
    height: 30px;
    background:  url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -274px 4px no-repeat;
}

.mid-header__search-desktop {
    display: flex;
    margin-left: 5px;
}

.search-desktop__text {
    width: 249px;
    height: 28px;
    border: 1px solid #BBB8B6;
    padding: 5px;
    font-size: 11px;
    letter-spacing: 1px;
    color: #BBB8B6;
}

.search-desktop__submit {
    background: #BBB8B6 url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -303px 2px no-repeat;
    height: 28px;
    width: 49px;
    border: none;
}

.bottom-header-desktop {
    display: none;
}

.bottom-header-desktop__desktop-navigator{
    list-style: none;
    display: flex;
}

.desktop-navigator li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
}

.desktop-navigator li a {
    font-family: sans-serif;
    color: #2E2925;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    width: 100px;
}

.desktop-navigator__utensilios a img,
.desktop-navigator__ingredientes a img,
.desktop-navigator__fiestas a img,
.desktop-navigator__marcas a img{
    display: block;
    background-color: #F2F2F2;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    padding: 15px 25px;
}

.desktop-navigator__marcas a img {
    padding: 15px 15px;
}

.desktop-navigator__blog {
    margin-left: 50px;
}

.desktop-navigator__blog i {
    display: block;
    background: #FF5959 url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/menu.svg) -400px 0px no-repeat;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    padding: 15px 25px;
}

.bottom-header-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
}

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  body {
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 0 1.25rem;
    font-family: 'Lato', sans-serif;
  }
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
/*CAROUSEL*/

  .carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
  }
  
  .carousel__slide:nth-child(even) {
    background-color: #99f;
  }
  
  .carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }

/*END CAROUSEL*/

.parties__parties-navigator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.parties__title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 325px;
}

.parties__title img {
    width: 107px;
    height: 125px;
}

.parties__title h2 {
    text-align: center;
    font-size: 22px;
    width: 200px;
    line-height: 62px;
    height: 62px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    letter-spacing: 3px;
}

.parties__column-container {
    max-height: 300px;
    height: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.parties__1,
.parties__2,
.parties__3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 325px;
    max-height: 137px;
    width: 100vw;
    height: 35vw;
    background-size: 100%;
}

.parties__1 {
    background-image: url(https://static3.marialunarillos.com/media/wysiwyg/fiestastematicas.jpg);
}

.parties__2 {
    background-image: url(https://static3.marialunarillos.com/media/wysiwyg/fiestaspersonajes.jpg);
}
.parties__3 {
    background-image: url(https://static3.marialunarillos.com/media/wysiwyg/pompones.jpg);
}

.parties__1 h3,
.parties__2 h3,
.parties__3 h3 {
    display: block;
    max-width: 170px;
    max-height: 75px;
    width: 50%;
    height: 50%;
    padding-left: 16px;
    background-color: #FFFFFFCC;
    color: #67635F;
    font-weight: 600;
    font-size: 15px;
}

.parties__1 span,
.parties__2 span,
.parties__3 span {
    display: none;
}

@media screen and (min-width: 1023px) {
    .top-header {
        justify-content: space-between;
        width: 1000px;
    }

    .top-header__desktop-top-header{
        display: unset;
    }

    .navigator-top-header{
        justify-content: space-between;
        width: 600px;
    }

    .navigator-top-header__menu-button {
        display: none;
    }

    .navigator-top-header__login-button {
        display: flex;
        align-items: center;
    }

    .login-button__text{
        display: unset;
    }

    .navigator-top-header__social {
        display: flex;
    }

    .small-navigator__search-button {
        display: none;
    }

    .mid-header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .bottom-header-mobile {
        display: none;
    }

    .bottom-header-desktop {
        display: flex;
        justify-content: space-between;
        width: 1000px;
    }

    .parties__title {
        height: 325px;
    }

    .parties__title h2 {
        font-size: 30px;
        width: 300px;
        line-height: 70px;
        height: 70px;
        letter-spacing: 6px;
    }

    .parties__container {
        display: flex;
        justify-content: space-between;
        width: 1055px;
    }

    .parties__column-container {
        justify-content: space-between;
        max-height: 625px;
    }

    .parties__1,
    .parties__2 {
        display: flex;
        width: 715px;
        height: 300px;
        max-width: 715px;
        max-height: 300px;
        background-size: 100%;
    }

    .parties__1 {
        justify-content: flex-end;
    }

    .parties__3 {
        height: 625px;
        max-height: 625px;
        width: 350px;
    }

    .parties__1 h3,
    .parties__2 h3,
    .parties__3 h3 {
        display: block;
        border-bottom: 150px solid #FFFFFFCC;
        border-right: 150px solid transparent;
        width: 350px;
        max-width: 350px;
        background-color: transparent;
        font-weight: 600;
        font-size: 20px;
        position: relative;
        top: 50px;
    }

    .parties__1 span,
    .parties__2 span,
    .parties__3 span {
        display: block;
        width: 200px;
        font-size: 13px;
        position: relative;
        bottom: 22px;
        padding-left: 16px;
        color: #67635F;
    }
}