@import '../../styles/reset.scss';
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/mixin.scss';

.section-banner{
    width: 100%;
    height: 40vh;
    background-color: $primary-color;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    &__text-item{
        width: 70%;
        margin: 0 auto;
        text-align: start;
        color: white;
        font-family: $secondary-font;
    }
    &__logo-item{
        width: 150px;
        height: 150px;
    }
}
@media only screen and (min-width: 768px) {
    .section-banner{
        height: 60vh;
        height: 60vh;
        flex-flow: column nowrap;
        &__text-item{
            width: 40%;
            margin: 0 auto;
            text-align: start;
            color: white;
            font-family: $secondary-font;
            font-size: 2rem;
        }
        &__logo-item{
            width: 250px;
            height: 250px;
        }
    }
}